#deletePostButton,
#viewPostButton,
#editPostButton {
    margin-top: 20px;
}

#editPostButton {
    margin-right: 20px;
}

ul.list-group {
    padding: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .075);
    box-shadow: 0 0 0 rgba(0, 0, 0, .075);
}

span.category-list {
    width: 20px;
    text-align: center;
    /*	padding-left: 5px;*/
}

.list-group-item {
    border-radius: 10px;
    margin-bottom: 5px;
}

.list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.modal-content {
    border: 5px solid #265a88;
}

.modal-header {
    background-color: #265a88;
    color: #ffffff;
}

.modal-title {
    letter-spacing: 2px;
}

.btn-default {
    text-shadow: none;
}
