<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Over</div>
  <p>Textbox.io is een WYSIWYG-programma voor het maken van fantastisch uitziende inhoud voor online apps. Of het nu gaat om sociale media, blogs, e-mails, of alles daartussen, Textbox.io helpt mensen zichzelf te uiten op het web.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Alle rechten voorbehouden.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Licenties van derden</a></p>
</div>
