<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Instructies voor toegankelijkheid</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Toetsenbordnavigatie</caption>
      <thead>
        <tr>
          <th scope="col">Bewerking</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Werkbalk activeren</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Volgende/vorige knop van groep selecteren</td>
        <td>← of →</td>
        <td>← of →</td>
      </tr>
      <tr>
        <td>Naar volgende groep gaan</td>
        <td>Tab</td>
        <td>Tab</td>
      </tr>
      <tr>
        <td>Naar vorige groep gaan</td>
        <td>Shift + Tab</td>
        <td>Shift + Tab</td>
      </tr>
      <tr>
        <td>Opdracht uitvoeren</td>
        <td>Spatie of Enter</td>
        <td>Spatie of Enter</td>
      </tr>
      <tr>
        <td>Volgend/vorig menu-item selecteren</td>
        <td>↓ of ↑</td>
        <td>↓ of ↑</td>
      </tr>
      <tr>
        <td>Menu sluiten</td>
        <td>Esc</td>
        <td>Esc</td>
      </tr>
    </tbody>
  </table>
</div>
