<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Markdown-opmaak</div>
  <p>Markdown is een syntaxis voor het maken van HTML-structuren en -opmaak zonder dat het nodig is om sneltoetsen te gebruiken of menu's te openen. Voor het gebruiken van markdown-opmaak voert u de gewenste syntaxis in, gevolgd door een enter of spatie.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Syntaxis voor opmaak met toetsenbord</caption>
      <thead>
        <tr>
          <th scope="col">Syntaxis</th>
          <th scope="col">HTML-resultaat</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Grootste kop</pre></td>
        <td><pre>&lt;h1&gt;Grootste kop&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Grotere kop</pre></td>
        <td><pre>&lt;h2&gt;Grotere kop&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Grote kop</pre></td>
        <td><pre>&lt;h3&gt;Grote kop&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>#### Kop</pre></td>
        <td><pre>&lt;h4&gt;Kop&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Kleine kop</pre></td>
        <td><pre>&lt;h5&gt;Kleine kop&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Kleinste kop</pre></td>
        <td><pre>&lt;h6&gt;Kleinste kop&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Niet-geordende lijst</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Niet-geordende lijst&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Geordende lijst</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Geordende lijst&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Cursief*</pre></td>
        <td><pre>&lt;em&gt;Cursief&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Vet**</pre></td>
        <td><pre>&lt;strong&gt;Vet&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
