<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Sneltoetsen</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Editor-opdrachten</caption>
    <thead>
      <tr>
        <th scope="col">Bewerking</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ongedaan maken</td>
        <td>Ctrl + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Opnieuw uitvoeren</td>
        <td>Ctrl + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Vet</td>
        <td>Ctrl + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Cursief</td>
        <td>Ctrl + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Onderstrepen</td>
        <td>Ctrl + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Inspringing vergroten</td>
        <td>Ctrl + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Inspringing verkleinen</td>
        <td>Ctrl + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Koppeling toevoegen</td>
        <td>Ctrl + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Modus Volledig scherm (in-/uitschakelen)</td>
        <td>Ctrl + Shift + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Menu Help (openen)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Contextmenu (openen)</td>
        <td>Shift + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Code automatisch aanvullen</td>
        <td>CTRL + Spatie</td>
        <td>⌃Spatie</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*NB Sommige functies kunnen door uw beheerder worden uitgeschakeld.</div>
</div>
