<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">關於</div>
  <p>Textbox.io是用於在線應用程式中創建優美內容的“所見即所得”(WYSIWYG)的工具。無論是在網路社區、部落格、電郵還是當中任何途徑，Textbox.io都能讓人們在網路上發表自己的心聲。</p>

  <p>Textbox.io @@FULL_VERSION@@<br />2015年Ephox公司擁有著作權。保留所有權利。</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">第三方授權</a></p>
</div>
