<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">協助工具說明</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>鍵盤導航</caption>
      <thead>
        <tr>
          <th scope="col">動作</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>激活工具欄</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>選擇“下一個小組”/“上一個小組”按鈕</td>
        <td>← 或 →</td>
        <td>← 或 →</td>
      </tr>
      <tr>
        <td>移動至下一個小組</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>移動至上一個小組</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>執行命令</td>
        <td>空格鍵或ENTER鍵</td>
        <td>空格鍵或ENTER鍵</td>
      </tr>
      <tr>
        <td>選擇下一個/上一個菜單項</td>
        <td>↓或↑</td>
        <td>↓或↑</td>
      </tr>
      <tr>
        <td>關閉菜單</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
