<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Markdown格式設定 </div>
  <p>Markdown是在不需要使用鍵盤快捷鍵或訪問菜單時，用於創建HTML結構和格式的語法。使用Markdown格式設定時，請輸入所需的語法，然後再按ENTER鍵或空格鍵。</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>鍵盤格式化語法</caption>
      <thead>
        <tr>
          <th scope="col">語法</th>
          <th scope="col">HTML結果</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre>#最大的標題</pre></td>
        <td><pre>&lt;h1&gt;最大的標題&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##更大的標題</pre></td>
        <td><pre>&lt;h2&gt;更大的標題&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###大標題</pre></td>
        <td><pre>&lt;h3&gt;大標題&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####標題</pre></td>
        <td><pre>&lt;h4&gt;標題&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>#####小標題</pre></td>
        <td><pre>&lt;h5&gt;小標題&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>######最小的標題</pre></td>
        <td><pre>&lt;h6&gt;最小的標題&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*無序列表</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;無序列表&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. 有序列表</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;有序列表&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*斜體*</pre></td>
        <td><pre>&lt;em&gt;斜體&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**粗體**</pre></td>
        <td><pre>&lt;strong&gt;粗體&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
