<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">À propos de</div>
  <p>Textbox.io est un outil de développement WYSIWYG qui permet de créer des contenus attractifs pour des applications en ligne. Textbox.io donne la possibilité aux gens de s'exprimer sur le Web, que ce soit à travers les médias sociaux, les blogs, les courriers électroniques ou tout autre mode de diffusion similaire.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Tous droits réservés.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Licences tierces</a></p>
</div>
