<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Instructions concernant l'accessibilité</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navigation au clavier</caption>
      <thead>
        <tr>
          <th scope="col">Action</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Active la barre d'outils</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Sélectionne le bouton Suiv/Préc du groupe</td>
        <td>← ou →</td>
        <td>← ou →</td>
      </tr>
      <tr>
        <td>Passe au groupe suivant</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Revient au groupe précédent</td>
        <td>MAJ + TAB</td>
        <td>MAJ + TAB</td>
      </tr>
      <tr>
        <td>Exécute la commande</td>
        <td>ESPACE ou ENTRÉE</td>
        <td>ESPACE ou ENTRÉE</td>
      </tr>
      <tr>
        <td>Sélectionne l'option de menu Suiv/Préc</td>
        <td>↓ ou ↑</td>
        <td>↓ ou ↑</td>
      </tr>
      <tr>
        <td>Ferme le menu</td>
        <td>ÉCHAP</td>
        <td>ÉCHAP</td>
      </tr>
    </tbody>
  </table>
</div>
