<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Mise en forme Markdown</div>
  <p>Markdown est une syntaxe utilisée pour créer des structures HTML et mettre du texte en forme sans avoir recours aux raccourcis claviers et aux menus. Pour utiliser la mise en forme Markdown, saisissez la syntaxe souhaitée suivie de la touche Espace ou Entrée.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Syntaxe de mise en forme au clavier</caption>
      <thead>
        <tr>
          <th scope="col">Syntaxe</th>
          <th scope="col">Résultat en HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Titre principal</pre></td>
        <td><pre>&lt;h1&gt;Titre principal&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Titre de niveau 2</pre></td>
        <td><pre>&lt;h2&gt;Titre de niveau 2&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Titre de niveau 3</pre></td>
        <td><pre>&lt;h3&gt;Titre de niveau 3&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>#### Titre de niveau 4</pre></td>
        <td><pre>&lt;h4&gt;Titre de niveau 4&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Titre de niveau 5</pre></td>
        <td><pre>&lt;h5&gt;Titre de niveau 5&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Titre de niveau 6</pre></td>
        <td><pre>&lt;h6&gt;Titre de niveau 6&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Liste non ordonnée</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Liste non ordonnée&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Liste ordonnée</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Liste ordonnée&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Italique*</pre></td>
        <td><pre>&lt;em&gt;Italique&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Gras**</pre></td>
        <td><pre>&lt;strong&gt;Gras&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
