<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Raccourcis clavier</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Commandes de l'éditeur</caption>
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Annuler</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Rétablir</td>
        <td>CTRL + Y</td>
        <td>⌘ + MAJ + Z</td>
      </tr>
      <tr>
        <td>Gras</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Italique</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Souligné</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Retrait</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Réduire le retrait</td>
        <td>CTRL+ [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Ajouter un lien</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Mode plein écran (activé/désactivé)</td>
        <td>CTRL + MAJ + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Menu Aide (ouvrir)</td>
        <td>CTRL + MAJ + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Menu Contexte (ouvrir)</td>
        <td>MAJ + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Saisie semi-automatique de code</td>
        <td>CTRL + Espace</td>
        <td>⌃Espace</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Remarque : certaines fonctionnalités peuvent être désactivées par votre administrateur.</div>
</div>
