<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Tietoja</div>
  <p>Textbox.io on WYSIWYG-työkalu upean sisällön luomiseen verkkosovelluksissa. Olipa kyse sosiaalisista yhteisöistä, blogeista, sähköposteista tai näiden yhdistelmistä, Textbox.io antaa ihmisten ilmaista itseään verkossa.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Kaikki oikeudet pidätetään.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Kolmannen osapuolen lisenssit</a></p>
</div>
