<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Käytettävyysohjeet</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Näppäimistönavigointi</caption>
      <thead>
        <tr>
          <th scope="col">Toiminto</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Aktivoi työkalurivi</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Valitse seuraava/edellinen ryhmäpainike</td>
        <td>← tai →</td>
        <td>← tai →</td>
      </tr>
      <tr>
        <td>Siirry seuraavaan ryhmään</td>
        <td>SARKAIN</td>
        <td>SARKAIN</td>
      </tr>
      <tr>
        <td>Siirry edelliseen ryhmään</td>
        <td>VAIHTO + SARKAIN</td>
        <td>VAIHTO + SARKAIN</td>
      </tr>
      <tr>
        <td>Suorita komento</td>
        <td>VÄLILYÖNTI tai ENTER</td>
        <td>VÄLILYÖNTI tai ENTER</td>
      </tr>
      <tr>
        <td>Valitse seuraava/edellinen valikkokohta</td>
        <td>↓ tai ↑</td>
        <td>↓ tai ↑</td>
      </tr>
      <tr>
        <td>Sulje valikko</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
