<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Markdown-muotoilu</div>
  <p>Markdown on syntaksi, jota käytetään luomaan HTML-rakenteita ja -muotoiluja ilman näppäimistöpikavalintoja tai käyttövalikkoja. Markdown-muotoilua käytetään antamalla haluttu syntaksi ja painamalla sen jälkeen enter- tai välilyöntinäppäintä.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Näppäimistömuotoilun syntaksi</caption>
      <thead>
        <tr>
          <th scope="col">Syntaksi</th>
          <th scope="col">HTML-tulos</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Suurin otsikko</pre></td>
        <td><pre>&lt;h1&gt; Suurin otsikko&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Suurempi otsikko</pre></td>
        <td><pre>&lt;h2&gt;Suurempi otsikko&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Suuri otsikko</pre></td>
        <td><pre>&lt;h3&gt;Suuri otsikko&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Otsikko</pre></td>
        <td><pre>&lt;h4&gt;Otsikko&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Pieni otsikko</pre></td>
        <td><pre>&lt;h5&gt;Pieni otsikko&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Pienin otsikko</pre></td>
        <td><pre>&lt;h6&gt;Pienin otsikko&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Järjestämätön luettelo</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Järjestämätön luettelo&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Järjestetty luettelo</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Järjestetty luettelo&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Kursivoitu*</pre></td>
        <td><pre>&lt;em&gt;Kursivoitu&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Lihavoitu**</pre></td>
        <td><pre>&lt;strong&gt;Lihavoitu&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
