<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Näppäimistöoikopolut</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Editorin komennot</caption>
    <thead>
      <tr>
        <th scope="col">Toiminto</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Kumoa</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Tee uudelleen</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Lihavoitu</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Kursivoitu</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Alleviivaus</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Sisennä</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Pienennä sisennystä</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Lisää linkki</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Kokonäyttötila (päälle/pois)</td>
        <td>CTRL + VAIHTO + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Ohjevalikko (avaa)</td>
        <td>CTRL + VAIHTO + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Kontekstivalikko (avaa)</td>
        <td>VAIHTO + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Koodin automaattinen täydennys</td>
        <td>CTRL + VÄLILYÖNTI</td>
        <td>⌃VÄLILYÖNTI</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Huomautus: jotkin toiminnot voivat olla estettyinä pääkäyttäjän toimesta.</div>
</div>
