<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">О продукте</div>
  <p>Textbox.io — это WYSIWYG-инструмент для создания привлекательного контента в онлайн-приложениях. Будь то социальные сети, блоги, электронные письма или что-либо еще, Textbox.io позволяет людям выражать себя в Интернете.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> © 2015. Ephox Corporation. Все права защищены</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Лицензии третьих сторон</a></p>
</div>
