<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Специальные возможности</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Управление с помощью клавиатуры</caption>
      <thead>
        <tr>
          <th scope="col">Действие</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Активировать панель инструментов</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Выбрать следующую/предыдущую кнопку группы</td>
        <td>← или →</td>
        <td>← или →</td>
      </tr>
      <tr>
        <td>Перейти к следующей группе</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Перейти к предыдущей группе</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Выполнить команду</td>
        <td>ПРОБЕЛ или ENTER</td>
        <td>ПРОБЕЛ или ENTER</td>
      </tr>
      <tr>
        <td>Выбрать следующий/предыдущий пункт меню</td>
        <td>↓ или ↑</td>
        <td>↓ или ↑</td>
      </tr>
      <tr>
        <td>Закрыть меню</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
