<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Форматирование Markdown</div>
  <p>Markdown — это синтаксическая конструкция разметки текста для создания структур HTML и форматирования без необходимости использовать комбинации клавиш или меню доступа. Для использования Markdown необходимо ввести необходимый синтаксис и нажать ВВОД или пробел.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Синтаксическая конструкция форматирования с помощью клавиатуры</caption>
      <thead>
        <tr>
          <th scope="col">Синтаксическая конструкция</th>
          <th scope="col">Результат в HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Заголовок первого уровня</pre></td>
        <td><pre>&lt;h1&gt; Заголовок первого уровня&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Заголовок второго уровня</pre></td>
        <td><pre>&lt;h2&gt;Заголовок второго уровня&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Заголовок третьего уровня</pre></td>
        <td><pre>&lt;h3&gt;Заголовок третьего уровня&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>#### Заголовок четвертого уровня</pre></td>
        <td><pre>&lt;h4&gt;Заголовок четвертого уровня&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Заголовок пятого уровня</pre></td>
        <td><pre>&lt;h5&gt;Заголовок пятого уровня&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Заголовок шестого уровня</pre></td>
        <td><pre>&lt;h6&gt;Заголовок шестого уровня&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Неупорядоченный список</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Неупорядоченный список&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Упорядоченный список</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Упорядоченный список&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Курсив*</pre></td>
        <td><pre>&lt;em&gt;Курсив&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Жирный шрифт**</pre></td>
        <td><pre>&lt;strong&gt;Жирный шрифт&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
