<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Сочетания клавиш</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Команды редактора</caption>
    <thead>
      <tr>
        <th scope="col">Действие</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Отменить</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Вернуть</td>
        <td>CTRL+Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Жирный шрифт</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Курсив</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Подчеркивание</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Отступ</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Уменьшить отступ</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Добавить ссылку</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Режим полного экрана (переключение)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Меню помощи (открыть)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Контекстное меню (открыть)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Автозаполнение кода</td>
        <td>CTRL + ПРОБЕЛ</td>
        <td>⌃ПРОБЕЛ</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">* Примечание. Некоторые функции могут быть отключены вашим администратором.</div>
</div>
