<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Despre</div>
  <p>Textbox.io este un instrument WYSIWYG pentru crearea de conţinut cu aspect extraordinar în aplicaţii online. Fie că este vorba de comunităţi sociale, bloguri, e-mail-uri sau orice între acestea, Textbox.io vă permite să vă exprimaţi pe web.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Toate drepturile rezervate.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Licenţe terţe</a></p>
</div>
