<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Instrucţiuni de accesibilitate</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navigare de la tastatură</caption>
      <thead>
        <tr>
          <th scope="col">Acţiune</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Activare bară de instrumente</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Selectare buton de grup următor/anterior</td>
        <td>← sau →</td>
        <td>← sau →</td>
      </tr>
      <tr>
        <td>Mutare la grupul următor</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Mutare la grupul anterior</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Executare comandă</td>
        <td>SPACE sau ENTER</td>
        <td>SPACE sau ENTER</td>
      </tr>
      <tr>
        <td>Selectare element de meniu următor/anterior</td>
        <td>↓ sau ↑</td>
        <td>↓ sau ↑</td>
      </tr>
      <tr>
        <td>Închidere meniu</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
