<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Formatare Markdown</div>
  <p>Markdown este o sintaxă pentru crearea structurilor HTML şi formatare fără utilizarea comenzilor rapide de la tastatură sau accesarea meniurilor. Pentru a utiliza formatarea markdown, introduceţi sintaxa dorită urmată de apăsarea tastei enter sau space.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Sintaxă de formatare tastatură</caption>
      <thead>
        <tr>
          <th scope="col">Sintaxă</th>
          <th scope="col">Rezultat HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Cel mai mare antet</pre></td>
        <td><pre>&lt;h1&gt; Cel mai mare antet&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Antet mai mare</pre></td>
        <td><pre>&lt;h2&gt;Antet mai mare&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Antet mare</pre></td>
        <td><pre>&lt;h3&gt;Antet mare&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Antet</pre></td>
        <td><pre>&lt;h4&gt;Antet&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Antet mic</pre></td>
        <td><pre>&lt;h5&gt;Antet mic&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Cel mai mic antet</pre></td>
        <td><pre>&lt;h6&gt;Cel mai mic antet&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Listă neordonată</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Listă neordonată&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Listă ordonată</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Listă ordonată&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Cursiv*</pre></td>
        <td><pre>&lt;em&gt;Cursiv&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Aldin**</pre></td>
        <td><pre>&lt;strong&gt;Aldin&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
