<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">About</div>
  <p>Textbox.io is a WYSIWYG tool for creating great looking content in online apps. Whether it’s in social communities, blogs, emails, or anything in between, Textbox.io lets people express themselves on the web.</p>
  <p>&nbsp;</p>
  <p>Textbox.io @@FULL_VERSION@@</p>
  <p>Client build @@CLIENT_VERSION@@</p>
  <p>Copyright 2015 Ephox Corporation. All rights reserved.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Third Party Licenses</a></p>
</div>
