<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Accessibilty Instructions</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Keyboard Navigation</caption>
      <thead>
        <tr>
          <th scope="col">Action</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Activate Toolbar</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Select Next/Prev Group Button</td>
        <td>← or →</td>
        <td>← or →</td>
      </tr>
      <tr>
        <td>Move to Next Group</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Move to Previous Group</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Execute Command</td>
        <td>SPACE or ENTER</td>
        <td>SPACE or ENTER</td>
      </tr>
      <tr>
        <td>Select Next/Prev Menu Item</td>
        <td>↓ or ↑</td>
        <td>↓ or ↑</td>
      </tr>
      <tr>
        <td>Close menu</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
