<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Markdown Formatting</div>
  <p>Markdown is a syntax for creating HTML structures and formatting without having to use keyboard shortcuts or access menus. To use markdown formatting, enter the desired syntax followed by the enter or space key.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Keyboard Formatting Syntax</caption>
      <thead>
        <tr>
          <th scope="col">Syntax</th>
          <th scope="col">HTML Result</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Largest Heading</pre></td>
        <td><pre>&lt;h1&gt; Largest Heading&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Larger Heading</pre></td>
        <td><pre>&lt;h2&gt;Larger Heading&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Large Heading</pre></td>
        <td><pre>&lt;h3&gt;Large Heading&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Heading</pre></td>
        <td><pre>&lt;h4&gt;Heading&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Small Heading</pre></td>
        <td><pre>&lt;h5&gt;Small Heading&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Smallest Heading</pre></td>
        <td><pre>&lt;h6&gt;Smallest Heading&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Unordered list</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Unordered List&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Ordered list</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Ordered List&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Italic*</pre></td>
        <td><pre>&lt;em&gt;Italic&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Bold**</pre></td>
        <td><pre>&lt;strong&gt;Bold&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
