<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Keyboard Shortcuts</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Editor Commands</caption>
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Undo</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Redo</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Bold</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Italic</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Underline</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Indent</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Decrease Indent</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Add Link</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Full Screen Mode (Toggle)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Help Dialog (Open)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Context Menu (Open)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10‎‏</td>
      </tr>
      <tr>
        <td>Code Autocomplete</td>
        <td>CTRL + Space</td>
        <td>⌃Space</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Note: Some features can be disabled by your administrator.</div>
</div>
