<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Instruções de acessibilidade</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navegação com teclado</caption>
      <thead>
        <tr>
          <th scope="col">Ação</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Ativar a barra de ferramentas</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Botão Selecionar grupo seguinte/grupo anterior</td>
        <td>← ou →</td>
        <td>← ou →</td>
      </tr>
      <tr>
        <td>Mover para o grupo seguinte</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Mover para o grupo anterior</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Executar comando</td>
        <td>BARRA DE ESPAÇOS ou ENTER</td>
        <td>BARRA DE ESPAÇOS ou ENTER</td>
      </tr>
      <tr>
        <td>Selecionar item de menu seguinte/item de menu anterior</td>
        <td>↓ ou ↑</td>
        <td>↓ ou ↑</td>
      </tr>
      <tr>
        <td>Fechar menu</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
