<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Acerca de</div>
  <p>Textbox.io es una herramienta WYSIWYG que sirve para crear contenidos con un diseño espectacular en aplicaciones online. Independientemente de para qué se vaya a utilizar (redes sociales, blogs, correos electrónicos, o alguna cosa intermedia), Textbox.io te permite expresarte en la web.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Se reservan todos los derechos.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Licencias de terceros</a></p>
</div>
