<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Instrucciones de accesibilidad</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navegación con el teclado</caption>
      <thead>
        <tr>
          <th scope="col">Acción</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Activar barra de herramientas</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Seleccionar sig/ant botón de grupo</td>
        <td>← o →</td>
        <td>← o →</td>
      </tr>
      <tr>
        <td>Pasar al siguiente grupo</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Pasar al anterior grupo</td>
        <td>MAYÚS + TAB</td>
        <td>MAYÚS + TAB</td>
      </tr>
      <tr>
        <td>Ejecutar comando</td>
        <td>BARRA ESPACIADORA o INTRO</td>
        <td>BARRA ESPACIADORA o INTRO</td>
      </tr>
      <tr>
        <td>Seleccionar elemento del menú sig/ant</td>
        <td>↓ o ↑</td>
        <td>↓ o ↑</td>
      </tr>
      <tr>
        <td>Cerrar menú</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
