<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Formato Markdown</div>
  <p>Markdown es una sintaxis para crear estructuras y formatos en HTML sin tener que utilizar atajos del teclado ni menús de acceso. Para utilizar el formato Markdown, introduzca la sintaxis deseada y a continuación pulse la tecla intro o la barra espaciadora.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Sintaxis de formato con teclado</caption>
      <thead>
        <tr>
          <th scope="col">Sintaxis</th>
          <th scope="col">Resultado en HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># El encabezado más grande</pre></td>
        <td><pre>&lt;h1&gt; El encabezado más grande&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Encabezado más grande</pre></td>
        <td><pre>&lt;h2&gt;Encabezado más grande&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Encabezado grande</pre></td>
        <td><pre>&lt;h3&gt;Encabezado grande&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Encabezado</pre></td>
        <td><pre>&lt;h4&gt;Encabezado&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Encabezado pequeño</pre></td>
        <td><pre>&lt;h5&gt;Encabezado pequeño&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### El encabezado más pequeño</pre></td>
        <td><pre>&lt;h6&gt;El encabezado más pequeño&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Lista sin ordenar</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Lista sin ordenar&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Lista ordenada</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Lista ordenada&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Cursiva*</pre></td>
        <td><pre>&lt;em&gt;Cursiva&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Negrita**</pre></td>
        <td><pre>&lt;strong&gt;Negrita&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
