<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Atajos del teclado</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Comandos del editor</caption>
    <thead>
      <tr>
        <th scope="col">Acción</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Deshacer</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Rehacer</td>
        <td>CTRL + Y</td>
        <td>⌘ + MAYÚS + Z</td>
      </tr>
      <tr>
        <td>Negrita</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Cursiva</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Subrayado</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Sangría</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Reducir sangría</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Añadir enlace</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Modo pantalla completa (alternar)</td>
        <td>CTRL + MAYÚS + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Menú de ayuda (abrir)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Menú contextual (abrir)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Autocompletar códigos</td>
        <td>CTRL + barra espaciadora</td>
        <td>⌃barra espaciadora</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Nota: El administrador puede desactivar algunas funciones.</div>
</div>
