<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Informacje</div>
  <p>Textbox.io to działające w technologii WYSIWYG narzędzie do tworzenia znakomicie prezentujących się treści w aplikacjach online. Textbox.io pozwala wyrazić siebie w Internecie, niezależnie od tego, czy są to media społecznościowe, blogi, wiadomości e-mail czy cokolwiek innego.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Wszelkie prawa zastrzeżone.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Licencje osób trzecich</a></p>
</div>
