<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Instrukcje dostępu</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Nawigacja przy użyciu klawiatury</caption>
      <thead>
        <tr>
          <th scope="col">Czynność</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Aktywacja paska narzędzi</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Wybór przycisku następnej/poprzedniej grupy</td>
        <td>← lub →</td>
        <td>← lub →</td>
      </tr>
      <tr>
        <td>Przejście do następnej grupy</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Przejście do poprzedniej grupy</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Wykonanie polecenia</td>
        <td>SPACJA lub ENTER</td>
        <td>SPACJA lub ENTER</td>
      </tr>
      <tr>
        <td>Wybór następnej/poprzedniej pozycji menu</td>
        <td>↓ lub ↑</td>
        <td>↓ lub ↑</td>
      </tr>
      <tr>
        <td>Zamknięcie menu</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
