<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Formatowanie znacznikami</div>
  <p>Znaczniki to elementy składni umożliwiające tworzenie struktur HTML i formatowanie bez potrzeby stosowania skrótów klawiszowych ani uzyskiwania dostępu do menu. Aby zastosować formatowanie znacznikami, należy wprowadzić żądaną składnię, a następnie nacisnąć klawisz Enter lub spację.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Składnia formatowania na klawiaturze</caption>
      <thead>
        <tr>
          <th scope="col">Składnia</th>
          <th scope="col">Wynik HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Największy nagłówek</pre></td>
        <td><pre>&lt;h1&gt; Największy nagłówek&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Większy nagłówek</pre></td>
        <td><pre>&lt;h2&gt;Większy nagłówek&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Duży nagłówek</pre></td>
        <td><pre>&lt;h3&gt;Duży nagłówek&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Nagłówek</pre></td>
        <td><pre>&lt;h4&gt;Nagłówek&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Mały nagłówek</pre></td>
        <td><pre>&lt;h5&gt;Mały nagłówek&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Najmniejszy nagłówek</pre></td>
        <td><pre>&lt;h6&gt;Najmniejszy nagłówek&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Lista nienumerowana</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Lista nienumerowana&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Lista numerowana</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Lista numerowana&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Kursywa*</pre></td>
        <td><pre>&lt;em&gt;Kursywa&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Pogrubienie**</pre></td>
        <td><pre>&lt;strong&gt;Pogrubienie&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
