<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Skróty klawiszowe</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Polecenia edytora</caption>
    <thead>
      <tr>
        <th scope="col">Czynność</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cofnij</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Powtórz</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Pogrubienie</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Kursywa</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Podkreślenie</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Wcięcie</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Zmniejsz wcięcie</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Dodaj odsyłacz</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Tryb pełnoekranowy (Przełącz)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Menu Pomoc (Otwórz)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Menu kontekstowe (Otwórz)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Autouzupełnianie kodu</td>
        <td>CTRL + Spacja</td>
        <td>⌃Spacja</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Uwaga: Niektóre funkcje mogą zostać wyłączone przez administratora.</div>
</div>
