<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Om</div>
  <p>Textbox.io är ett WYSIWYG-verktyg avsett för att skapa snyggt innehåll i onlineappar. Oavsett om det är sociala nätverk, bloggar, e-postmeddelanden eller något däremellan, kan människor uttrycka sig på nätet med hjälp av Textbox.io.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Med ensamrätt.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Tredjepartslicenser</a></p>
</div>
