<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Tillgänglighetsanvisningar</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Tangentbordsnavigering</caption>
      <thead>
        <tr>
          <th scope="col">Åtgärd</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Aktivera verktygsfält</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Knappen Välj nästa/föregående grupp</td>
        <td>← eller →</td>
        <td>← eller →</td>
      </tr>
      <tr>
        <td>Flytta till Nästa grupp</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Flytta till Föregående grupp</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Utför kommando</td>
        <td>MELLANSLAG eller ENTER</td>
        <td>MELLANSLAG eller ENTER</td>
      </tr>
      <tr>
        <td>Välj Nästa/föreg. menyalternativ</td>
        <td>↓ eller ↑</td>
        <td>↓ eller ↑</td>
      </tr>
      <tr>
        <td>Stäng meny</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
