<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Nedskrivningsformatering</div>
  <p>Nedskrivningsformatering är syntax för att skapa HTML-strukturer och formatering utan att tangentbordsgenvägar eller åtkomstmenyer behöver användas. Ange önskad syntax följt av enter eller mellanslag för att använda nedskrivningsformatering.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Syntax för tangentbordsformatering</caption>
      <thead>
        <tr>
          <th scope="col">Syntax</th>
          <th scope="col">HTML-resultat</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Största rubrik</pre></td>
        <td><pre>&lt;h1&gt; Största rubrik&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Större rubrik</pre></td>
        <td><pre>&lt;h2&gt;Större rubrik&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Stor rubrik</pre></td>
        <td><pre>&lt;h3&gt;Stor rubrik&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Rubrik</pre></td>
        <td><pre>&lt;h4&gt;Rubrik&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Liten rubrik</pre></td>
        <td><pre>&lt;h5&gt;Liten rubrik&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Minsta rubrik</pre></td>
        <td><pre>&lt;h6&gt;Minsta rubrik&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Oordnad lista</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Oordnad lista&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Ordnad lista</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Ordnad lista&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Kursiv*</pre></td>
        <td><pre>&lt;em&gt;Kursiv&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Fet**</pre></td>
        <td><pre>&lt;strong&gt;Fet&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
