<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Névjegy</div>
  <p>A Textbox.io egy WYSIWYG-eszköz, mellyel tetszetős tartalmakat lehet létrehozni az online alkalmazásokban.  Legyen szó akár közösségi hálózatokról, blogokról, e-mailekről vagy hasonlókról, a Textbox.io segít az embereknek kifejezni önmagukat a weben.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Minden jog fenntartva.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Külső gyártói licencek</a></p>
</div>
