<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Elérési parancsok</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navigációs billentyűk</caption>
      <thead>
        <tr>
          <th scope="col">Művelet</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Eszköztár aktiválása</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Csoport előző/következő gombjának kiválasztása</td>
        <td>← vagy →</td>
        <td>← vagy →</td>
      </tr>
      <tr>
        <td>Ugrás a következő csoportra</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Ugrás az előző csoportra</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Parancs végrehajtása</td>
        <td>SPACE vagy ENTER</td>
        <td>SPACE vagy ENTER</td>
      </tr>
      <tr>
        <td>Előző/következő menüelem kiválasztása</td>
        <td>↓ vagy ↑</td>
        <td>↓ vagy ↑</td>
      </tr>
      <tr>
        <td>Menü bezárása</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
