<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Markdown formázás</div>
  <p>A markdown egy HTML-struktúrák létrehozására és formázásra használható szintaxis, mely billentyűparancsok használata vagy menük elérése nélkül működik. A markdown formázás használatához adja meg a kívánt szintaxist, és utána üsse le az enter vagy space billentyűt.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Billentyűs formázási szintaxis</caption>
      <thead>
        <tr>
          <th scope="col">Szintaxis</th>
          <th scope="col">HTML Eredmény</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Legnagyobb címsor</pre></td>
        <td><pre>&lt;h1&gt;Legnagyobb címsor&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Nagyobb címsor</pre></td>
        <td><pre>&lt;h2&gt;Nagyobb címsor&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Nagy címsor</pre></td>
        <td><pre>&lt;h3&gt;Nagy címsor&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>#### Címsor</pre></td>
        <td><pre>&lt;h4&gt;Címsor&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Kis címsor</pre></td>
        <td><pre>&lt;h5&gt;Kis címsor&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Legkisebb címsor</pre></td>
        <td><pre>&lt;h6&gt;Legkisebb címsor&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Rendezetlen lista</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Rendezetlen lista&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Rendezett lista</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Rendezett lista&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Dőlt*</pre></td>
        <td><pre>&lt;em&gt;Dőlt&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Félkövér**</pre></td>
        <td><pre>&lt;strong&gt;Félkövér&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
