<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Billentyűparancsok</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Szerkesztési parancsok</caption>
    <thead>
      <tr>
        <th scope="col">Művelet:</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Visszavonás</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Ismét</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Félkövér</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Dőlt</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Aláhúzott</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Behúzás</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Behúzás csökkentése</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Hivatkozás hozzáadása</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Teljes képernyős mód (ki-/bekapcsolás)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Súgó menü (megnyitás)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Helyi menü (megnyitás)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Kód automatikus kiegészítése</td>
        <td>CTRL + SPACE</td>
        <td>⌃SPACE</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Figyelem: A rendszergazda letilthat bizonyos funkciókat.</div>
</div>
