<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Hakkında</div>
  <p>Textbox.io, online uygulamalarda güzel görünümlü içerikler tasarlamak için geliştirilen bir WYSIWYG aracıdır. Textbox.io, insanların web üzerindeki sosyal topluluklar, bloglar, e-postalar veya benzeri ortamlarda kendilerini rahatça ifade edebilmesini sağlar.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Telif Hakkı 2015 Ephox Corporation. Tüm hakları saklıdır.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Üçüncü Taraf Lisansları</a></p>
</div>
