<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Erişilebilirlik Talimatları</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Klavye Tuşları</caption>
      <thead>
        <tr>
          <th scope="col">İşlem</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Araç Çubuğu Aktif</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Sonraki/Önceki Grup Düğmesini Seç</td>
        <td>← veya →</td>
        <td>← veya →</td>
      </tr>
      <tr>
        <td>Sonraki Gruba Taşı</td>
        <td>SEKME</td>
        <td>SEKME</td>
      </tr>
      <tr>
        <td>Önceki Gruba Taşı</td>
        <td>ÜST KARAKTER + SEKME</td>
        <td>ÜST KARAKTER + SEKME</td>
      </tr>
      <tr>
        <td>Komutu Uygula</td>
        <td>BOŞLUK veya GİRİŞ (ENTER)</td>
        <td>BOŞLUK veya GİRİŞ (ENTER)</td>
      </tr>
      <tr>
        <td>Sonraki/Önceki Menü Öğesini Seç</td>
        <td>↓ veya ↑</td>
        <td>↓ veya ↑</td>
      </tr>
      <tr>
        <td>Menüyü kapat</td>
        <td>ÇIKIŞ (ESC)</td>
        <td>ÇIKIŞ (ESC)</td>
      </tr>
    </tbody>
  </table>
</div>
