<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Markdown Biçimlendirme</div>
  <p>Markdown, klavye kısayolları veya erişim menülerini kullanmaya gerek kalmadan HTML yapıları oluşturmanızı ve biçimlendirme yapmanızı sağlayan bir söz dizimidir. Markdown biçimlendirmeyi kullanmak için, istediğiniz söz dizimini girdikten sonra klavyeden giriş veya boşluk tuşuna basın.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Klavye Biçimlendirme Söz Dizimi</caption>
      <thead>
        <tr>
          <th scope="col">Söz Dizimi</th>
          <th scope="col">HTML Sonucu</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># En Büyük Başlık</pre></td>
        <td><pre>&lt;h1&gt; En Büyük Başlık&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Daha Büyük Başlık</pre></td>
        <td><pre>&lt;h2&gt;Daha Büyük Başlık&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Büyük Başlık</pre></td>
        <td><pre>&lt;h3&gt;Büyük Başlık&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Başlık</pre></td>
        <td><pre>&lt;h4&gt;Başlık&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Küçük Başlık</pre></td>
        <td><pre>&lt;h5&gt;Küçük Başlık&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### En Küçük Başlık</pre></td>
        <td><pre>&lt;h6&gt;En Küçük Başlık&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Sırasız liste</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Sırasız Liste&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Sıralı liste</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Sıralı Liste&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*İtalik*</pre></td>
        <td><pre>&lt;em&gt;İtalik&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Koyu**</pre></td>
        <td><pre>&lt;strong&gt;Koyu&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
