<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Sobre</div>
  <p>Textbox.io é uma ferramenta WYSIWYG para criar conteúdo atraente em aplicativos online. Seja em comunidades sociais, blogs, e-mails ou qualquer coisa do gênero, o Textbox.io permite que as pessoas se expressem na Web.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Todos os direitos reservados.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Licenças de terceiros</a></p>
</div>
