<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Instruções de Acessibilidade</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navegação com Teclado</caption>
      <thead>
        <tr>
          <th scope="col">Ação</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Ativar a Barra de Ferramentas</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Botão Selecionar Próximo Grupo/Grupo Anterior</td>
        <td>← ou →</td>
        <td>← ou →</td>
      </tr>
      <tr>
        <td>Mover para o Próximo Grupo</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Mover para o Grupo Anterior</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Executar Comando</td>
        <td>BARRA DE ESPAÇOS ou ENTER</td>
        <td>BARRA DE ESPAÇOS ou ENTER</td>
      </tr>
      <tr>
        <td>Selecionar Próximo Item de Menu/Item de Menu Anterior</td>
        <td>↓ ou ↑</td>
        <td>↓ ou ↑</td>
      </tr>
      <tr>
        <td>Fechar menu</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
