<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Formatação com Markdown</div>
  <p>Markdown é uma sintaxe para a criação de estruturas HTML e formatação sem a necessidade de usar atalhos de teclado ou menus de acesso. Para usar a formatação Markdown, insira a sintaxe desejada, seguida da tecla Enter ou Barra de Espaços.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Sintaxe de Formatação de Teclado</caption>
      <thead>
        <tr>
          <th scope="col">Sintaxe</th>
          <th scope="col">Resultado em HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Maior Título</pre></td>
        <td><pre>&lt;h1&gt; Maior Título&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Título Maior</pre></td>
        <td><pre>&lt;h2&gt;Título Maior&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Título Grande</pre></td>
        <td><pre>&lt;h3&gt;Título Grande&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Título</pre></td>
        <td><pre>&lt;h4&gt;Título&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Título Pequeno</pre></td>
        <td><pre>&lt;h5&gt;Título Pequeno&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Menor Título</pre></td>
        <td><pre>&lt;h6&gt;Menor Título&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Lista não ordenada</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Lista Não Ordenada&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Lista ordenada</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Lista ordenada&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Itálico*</pre></td>
        <td><pre>&lt;em&gt;Itálico&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Negrito**</pre></td>
        <td><pre>&lt;strong&gt;Negrito&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
