<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Ақпарат</div>
  <p>Textbox.io - онлайн қолданбаларда керемет көру мазмұнын жасайтын WYSIWYG құралы. Әлеуметтік қауымдастықтарда, блогтарда, электрондық пошталарды немесе кез келген орында Textbox.io құралы адамдардың вебте өздерін таныстыруына мүмкіндік береді.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Барлық құқықтары қорғалған.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Үшінші тарап лицензиялары</a></p>
</div>
