<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Қолжетімділік нұсқаулары</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Пернетақта навигациясы</caption>
      <thead>
        <tr>
          <th scope="col">Әрекет</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Құралдар тақтасын белсендіру</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Келесі/алдыңғы топ түймесін таңдау</td>
        <td>← немесе →</td>
        <td>← немесе →</td>
      </tr>
      <tr>
        <td>Келесі топқа өту</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Алдыңғы топқа өту</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Пәрменді орындау</td>
        <td>SPACE немесе ENTER</td>
        <td>SPACE немесе ENTER</td>
      </tr>
      <tr>
        <td>Келесі/алдыңғы мәзір түймесін таңдау</td>
        <td>↓ немесе ↑</td>
        <td>↓ немесе ↑</td>
      </tr>
      <tr>
        <td>Мәзірді жабу</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
