<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Төмендету форматы</div>
  <p>Төмендету - пернетақта пернелерін пайдалану немесе мәзірлерге қатынасу әрекетінсіз HTML құрылымдарын және форматын жасауға арналған синтаксис. Төмендету форматын пайдалану үшін енгізу немесе бос орын пернесінен кейінгі қажетті синтаксисті енгізіңіз.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Пернетақта форматының синтаксисі</caption>
      <thead>
        <tr>
          <th scope="col">Синтаксис</th>
          <th scope="col">HTML нәтижесі</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Ең үлкен тақырып</pre></td>
        <td><pre>&lt;h1&gt; Ең үлкен тақырып&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Үлкенірек тақырып</pre></td>
        <td><pre>&lt;h2&gt;Үлкенірек тақырып&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Үлкен тақырып</pre></td>
        <td><pre>&lt;h3&gt;Үлкен тақырып&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Тақырып</pre></td>
        <td><pre>&lt;h4&gt;Тақырып&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Кішкентай тақырып</pre></td>
        <td><pre>&lt;h5&gt;Кішкентай тақырып&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Ең кішкентай тақырып</pre></td>
        <td><pre>&lt;h6&gt;Ең кішкентай тақырып&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Ретсіз тізім</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Ретсіз тізім&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Реттелген тізім</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Реттелген тізім&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Көлбеу*</pre></td>
        <td><pre>&lt;em&gt;Көлбеу&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Қалың**</pre></td>
        <td><pre>&lt;strong&gt;Қалың&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
