<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Пернетақта пернелері</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Редактор пәрмендері</caption>
    <thead>
      <tr>
        <th scope="col">Әрекет</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Болдырмау</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Қайтару</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Қалың</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Көлбеу</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Асты сызылған</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Шегініс</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Шегіністі азайту</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Сілтеме қосу</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Толқын экран режимі (ауыстыру)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Анықтама мәзірі (ашық)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Контекст мәзірі (ашық)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Кодты авто толтыру</td>
        <td>CTRL + Бос орын</td>
        <td>⌃Бос орын</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Ескертпе: Кейбір мүмкіндіктерді әкімшімен өшіруге болады.</div>
</div>
