<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Quant a</div>
  <p>Textbox.io és una eina WYSIWYG que serveix per crear contingut atractiu a les aplicacions en línia. Tant a les comunitats socials com als blogs, als correus o en qualsevol situació intermèdia, Textbox.io permet que la gent s'expressi a Internet.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Tots els drets reservats.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Llicències de tercers</a></p>
</div>
