<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Instruccions d'accessibilitat</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navegació amb el teclat</caption>
      <thead>
        <tr>
          <th scope="col">Acció</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Activa la barra d'eines</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Selecciona el botó del grup següent o anterior</td>
        <td>← o →</td>
        <td>← o →</td>
      </tr>
      <tr>
        <td>Mou-te al grup següent</td>
        <td>TABULACIÓ</td>
        <td>TABULACIÓ</td>
      </tr>
      <tr>
        <td>Mou-te al grup anterior</td>
        <td>MAJ + TABULACIÓ</td>
        <td>MAJ + TABULACIÓ</td>
      </tr>
      <tr>
        <td>Executa l'ordre</td>
        <td>ESPAI o RETORN</td>
        <td>ESPAI o RETORN</td>
      </tr>
      <tr>
        <td>Selecciona l'element de menú següent o anterior</td>
        <td>↓ o ↑</td>
        <td>↓ o ↑</td>
      </tr>
      <tr>
        <td>Tanca el menú</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
