<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Format Markdown</div>
  <p>Markdown és una sintaxi que serveix per crear estructures HTML i format sense haver d'utilitzar dreceres de teclat o menús d'accés. Per utilitzar el format markdown, introduïu la sintaxi desitjada i després premeu la tecla retorn o la tecla espai.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Sintaxi de format del teclat</caption>
      <thead>
        <tr>
          <th scope="col">Sintaxi</th>
          <th scope="col">Resultat en HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># L'encapçalament més gran</pre></td>
        <td><pre>&lt;h1&gt; L'encapçalament més gran&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Encapçalament més gran</pre></td>
        <td><pre>&lt;h2&gt;Encapçalament més gran&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Encapçalament gran</pre></td>
        <td><pre>&lt;h3&gt;Encapçalament gran&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Encapçalament</pre></td>
        <td><pre>&lt;h4&gt;Encapçalament&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Encapçalament petit</pre></td>
        <td><pre>&lt;h5&gt;Encapçalament petit&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### L'encapçalament més petit</pre></td>
        <td><pre>&lt;h6&gt;L'encapçalament més petit&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Llista sense ordenar</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Llista sense ordenar&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Llista ordenada</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Llista ordenada&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Cursiva*</pre></td>
        <td><pre>&lt;em&gt;Cursiva&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Negreta**</pre></td>
        <td><pre>&lt;strong&gt;Negreta&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
