<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Dreceres de teclat</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Ordres de l'editor</caption>
    <thead>
      <tr>
        <th scope="col">Acció</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Desfés</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Refés</td>
        <td>CTRL + Y</td>
        <td>⌘ + MAJ + Z</td>
      </tr>
      <tr>
        <td>Negreta</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Cursiva</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Subratllat</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Sagnat</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Redueix el sagnat </td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Afegeix un enllaç</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Mode de pantalla sencera (Activa)</td>
        <td>CTRL + MAJ + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Menú Ajuda (Obre)</td>
        <td>CTRL + MAJ + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Menú contextual (Obre)</td>
        <td>MAJ + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Emplenament automàtic de codi</td>
        <td>CTRL + Espai</td>
        <td>⌃Espai</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Nota: L'administrador pot inhabilitar algunes característiques</div>
</div>
