<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Info</div>
  <p>Textbox.io ist ein WYSIWYG-Tool zum Erstellen großartiger Inhalte in Online-Apps. Ob in sozialen Netzwerken, Blogs, E-Mails oder irgendwo dazwischen: Mit Textbox.io können sich Nutzer im Internet ausdrücken.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Alle Rechte vorbehalten.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Drittanbieter-Lizenzen</a></p>
</div>
