<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Anleitung für die Eingabehilfen</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Tastaturnavigation</caption>
      <thead>
        <tr>
          <th scope="col">Aktion</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Symbolleiste aktivieren</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Nächste/Vorherige Gruppe auswählen</td>
        <td>← oder →</td>
        <td>← oder →</td>
      </tr>
      <tr>
        <td>Zu nächster Gruppe wechseln</td>
        <td>TAB-Taste</td>
        <td>TAB-Taste</td>
      </tr>
      <tr>
        <td>Zu vorheriger Gruppe wechseln</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Befehl ausführen</td>
        <td>Leertaste oder Eingabetaste</td>
        <td>Leertaste oder Eingabetaste</td>
      </tr>
      <tr>
        <td>Nächsten/Vorherigen Menüpunkt auswählen</td>
        <td>↓ oder ↑</td>
        <td>↓ oder ↑</td>
      </tr>
      <tr>
        <td>Menü schließen</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
