<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Markdown-Formatierung</div>
  <p>Markdown ist eine Syntax zum Erstellen von HTML-Strukturen und Formatierungen, ohne Tastenkombinationen verwenden oder auf Menüs zugreifen zu müssen. Geben Sie für die Markdown-Formatierung die gewünschte Syntax ein und drücken Sie dann auf die Eingabe- oder Leertaste.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Tastaturformatierungssyntax</caption>
      <thead>
        <tr>
          <th scope="col">Syntax</th>
          <th scope="col">HTML-Ergebnis</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Größte Überschrift</pre></td>
        <td><pre>&lt;h1&gt; Größte Überschrift&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Größere Überschrift</pre></td>
        <td><pre>&lt;h2&gt;Größere Überschrift&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Große Überschrift</pre></td>
        <td><pre>&lt;h3&gt;Große Überschrift&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Überschrift</pre></td>
        <td><pre>&lt;h4&gt;Überschrift&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Kleine Überschrift</pre></td>
        <td><pre>&lt;h5&gt;Kleine Überschrift&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Kleinste Überschrift</pre></td>
        <td><pre>&lt;h6&gt;Kleinste Überschrift&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Unsortierte Liste</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Unsortierte Liste&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Sortierte Liste</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Sortierte Liste&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Kursiv*</pre></td>
        <td><pre>&lt;em&gt;Kursiv&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Fett**</pre></td>
        <td><pre>&lt;strong&gt;Fett&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
