<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Tastenkombinationen</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Editor-Befehle</caption>
    <thead>
      <tr>
        <th scope="col">Aktion</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rückgängig machen</td>
        <td>STRG + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Wiederholen</td>
        <td>STRG + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Fett</td>
        <td>STRG + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Kursiv</td>
        <td>STRG + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Unterstrichen</td>
        <td>STRG + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Einzug</td>
        <td>STRG + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Einzug verkleinern</td>
        <td>STRG + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Link hinzufügen</td>
        <td>STRG + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Vollbildmodus (ein/aus)</td>
        <td>STRG + SHIFT + E</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Hilfemenü (öffnen)</td>
        <td>STRG + SHIFT + /</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Kontextmenü (öffnen)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10‎‏</td>
      </tr>
      <tr>
        <td>AutoVervollständigen für Code</td>
        <td>STRG + Leertaste</td>
        <td>⌃Leertaste</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">* Hinweis: Einige Funktionen können vom Administrator deaktiviert werden.</div>
</div>
