<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">안내 정보</div>
  <p>Textbox.io는 온라인 앱에서 원하는 아름다운 컨텐츠를 만들수 있는 WYSIWYG 도구입니다. 소셜 커뮤니티이든, 블로그이든, 이메일이든, 그 외의 무엇이든 Textbox.io는 웹 상에서 원하는 내용을 작성할 수 있게 해줍니다.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> 저작권 2015 Ephox Corporation. 모든 저작권 보유.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">타사 라이선스</a></p>
</div>
