<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">액세스 명령</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>키 선택</caption>
      <thead>
        <tr>
          <th scope="col">동작</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>도구 모음 활성화</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>다음/이전 그룹 버튼 선택</td>
        <td>← 또는 →</td>
        <td>← 또는 →</td>
      </tr>
      <tr>
        <td>다음 그룹으로 이동</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>이전 그룹으로 이동</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>명령 실행</td>
        <td>SPACE 또는 ENTER</td>
        <td>SPACE 또는 ENTER</td>
      </tr>
      <tr>
        <td>다음/이전 메뉴 항목 선택</td>
        <td>↓ 또는 ↑</td>
        <td>↓ 또는 ↑</td>
      </tr>
      <tr>
        <td>메뉴 닫기</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
