<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">마크다운 포맷</div>
  <p>마크다운(Markdown)은 키보드에서 바로 가기 키 또는 액세스 메뉴를 사용하지 않고 HTML 구조와 서식을 작성할 수 있는 구문입니다. 마크다운 서식을 사용하려면 원하는 구문을 입력하고 이어서 Enter 키 혹은 Space 키를 누릅니다.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>키보드 포맷 구문</caption>
      <thead>
        <tr>
          <th scope="col">구문</th>
          <th scope="col">HTML 결과</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># 가장 큰 제목</pre></td>
        <td><pre>&lt;h1&gt; 가장 큰 제목&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## 보다 큰 제목</pre></td>
        <td><pre>&lt;h2&gt;보다 큰 제목&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### 큰 제목</pre></td>
        <td><pre>&lt;h3&gt;큰 제목&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  제목</pre></td>
        <td><pre>&lt;h4&gt;제목&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### 작은 제목</pre></td>
        <td><pre>&lt;h5&gt;작은 제목&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### 가장 작은 제목</pre></td>
        <td><pre>&lt;h6&gt;가장 작은 제목&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* 순서가 지정되지 않은 목록</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;순서가 지정되지 않은 목록&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. 순서가 지정된 목록</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;순서가 지정된 목록&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*기울임체*</pre></td>
        <td><pre>&lt;em&gt;기울임체&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**굵은체**</pre></td>
        <td><pre>&lt;strong&gt;굵은체&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
