<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">바로 가기 키</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>편집기 명령</caption>
    <thead>
      <tr>
        <th scope="col">동작</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>실행 취소</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>다시 실행</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>굵은체</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>기울임체</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>밑줄</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>들여쓰기</td>
        <td>CTRL+</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>내어쓰기</td>
        <td>CTRL+</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>링크 추가</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>전체 화면 모드(토글)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>도움말 메뉴(열기)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>상황에 맞는 메뉴(열기)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>코드 자동 완성</td>
        <td>CTRL + SPACE</td>
        <td>⌃SPACE</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*참고: 관리자는 일부 기능을 비활성화할 수 있습니다.</div>
</div>
