<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">バージョン情報</div>
  <p>Textbox.ioは、オンラインアプリで表現力豊かなコンテンツを作成するためのWYSIWYGツールです。Textbox.ioをご利用になれば、ソーシャルコミュニティ、ブログ、メールなど、ウェブ上のあらゆる場所で、思いのままに自分らしい表現が可能となります。</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation.All Rights Reserved.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">サード パーティライセンス</a></p>
</div>
