<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">アクセシビリティの説明</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>キーボードナビゲーション</caption>
      <thead>
        <tr>
          <th scope="col">アクション</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>ツールバー有効化</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>次の/前のグループボタン選択</td>
        <td>← または →</td>
        <td>← または →</td>
      </tr>
      <tr>
        <td>次のグループに移動</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>前のグループに移動</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>コマンド実行</td>
        <td>SPACE または ENTER</td>
        <td>SPACE または ENTER</td>
      </tr>
      <tr>
        <td>次の/前のメニュー項目選択</td>
        <td>↓ または ↑</td>
        <td>↓ または ↑</td>
      </tr>
      <tr>
        <td>メニューを閉じる</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
