<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Markdownフォーマット</div>
  <p>Markdownは、HTML構造を作成し、キーボードショートカットを使用したりメニューにアクセスしたりせずにフォーマット化する際に使われるシンタックスです。Markdownフォーマットを使用するには、必要なシンタックスを入力し、続けてEnterキーやSpaceキーを入力します。</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>キーボードフォーマットシンタックス</caption>
      <thead>
        <tr>
          <th scope="col">シンタックス</th>
          <th scope="col">HTML変換結果</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre>#見出しレベル1</pre></td>
        <td><pre>&lt;h1&gt;見出しレベル1&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##見出しレベル2</pre></td>
        <td><pre>&lt;h2&gt;見出しレベル2&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###見出しレベル3</pre></td>
        <td><pre>&lt;h3&gt;見出しレベル3&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####見出しレベル4</pre></td>
        <td><pre>&lt;h4&gt;見出しレベル4&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>#####見出しレベル5</pre></td>
        <td><pre>&lt;h5&gt;見出しレベル5&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>######見出しレベル6</pre></td>
        <td><pre>&lt;h6&gt;見出しレベル6&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* 順序無しリスト</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;順序無しリスト&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. 順序付きリスト</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;順序付きリスト&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*斜体*</pre></td>
        <td><pre>&lt;em&gt;斜体&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**太字**</pre></td>
        <td><pre>&lt;strong&gt;太字&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
