<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">キーボードショートカット</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>エディターコマンド</caption>
    <thead>
      <tr>
        <th scope="col">アクション</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>元に戻す</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>やり直し</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>太字</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>斜体</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>下線</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>インデント</td>
        <td>CTRL+ ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>インデントを減らす</td>
        <td>CTRL+ [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>リンクの追加</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>フルスクリーンモード (切り替え)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>ヘルプメニュー (開く)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>ショートカットメニュー (開く)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>コードオートコンプリート</td>
        <td>CTRL + SPACE</td>
        <td>⌃SPACE</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*注意：一部の機能は管理者により無効化されている場合があります。</div>
</div>
