<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">حول</div>
  <p>Textbox.io‎‏ عبارة عن أداة من نوع WYSIWYG‏ لإنشاء المحتويات الرائعة لتطبيقات الإنترنت. فبغض النظر عمّا إذا كانت هذه التطبيقات تخص المنتديات الاجتماعية أو المدونات أو البريد الإلكتروني أو ما شابهها، يتيح Textbox.io‎‏ للمستخدمين الإعراب عن أنفسهم في الويب.</p>

  <p>تعد حقوق الطبع والنشر في ‎Textbox.io @@FULL_VERSION@@‎‏<br /> للعام 2015‏ لشركة Ephox Corporation‏. جميع الحقوق محفوظة.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">تراخيص الأطراف الثالثة</a></p>
</div>
