<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">إرشادات تسهيل الوصول</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>التنقل بواسطة لوحة المفاتيح</caption>
      <thead>
        <tr>
          <th scope="col">العملية</th>
          <th scope="col">Windows</th>
          <th scope="col">نظام التشغيل Mac‏</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>تفعيل شريط الأدوات</td>
        <td>F10</td>
        <td>‎‏ALT + F10‎</td>
      </tr>
      <tr>
        <td>زر تحديد المجموعة التالية / السابقة</td>
        <td>‏← أو →‏</td>
        <td>‏← أو →‏</td>
      </tr>
      <tr>
        <td>الانتقال إلى المجموعة التالية</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>الانتقال إلى المجموعة السابقة</td>
        <td>‎‏SHIFT + TAB‎</td>
        <td>‎‏SHIFT + TAB‎</td>
      </tr>
      <tr>
        <td>تنفيذ الأوامر</td>
        <td>SPACE‏ أو ENTER‏</td>
        <td>SPACE‏ أو ENTER‏</td>
      </tr>
      <tr>
        <td>تحديد العنصر التالي / السابق من القوائم</td>
        <td>↓‏ أو ↑‏</td>
        <td>↓‏ أو ↑‏</td>
      </tr>
      <tr>
        <td>إغلاق القوائم</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
