<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">تنسيق Markdown‏</div>
  <p>Markdown‏ عبارة عن صيغة لإنشاء بنايات وتنسيقات HTML‏ بدون الحاجة إلى استخدام اختصارات لوحة المفاتيح أو الوصول إلى القوائم. لاستخدام تنسيق markdown‏، أدخل الصيغة المطلوبة ثم مفتاح enter‏ أو space‏.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>صيغة أوامر التنسيق على لوحة المفاتيح</caption>
      <thead>
        <tr>
          <th scope="col">الصيغة</th>
          <th scope="col">النتيجة في HTML‏</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre>#‏ أكبر عنوان</pre></td>
        <td><pre>‎&lt;h1&gt;‎‏ أكبر عنوان‎&lt;/h1&gt;‎‏</pre></td>
      </tr>
      <tr>
        <td><pre>##‏ عنوان أكبر </pre></td>
        <td><pre>‎&lt;h2&gt;‎‏ أكبر عنوان‎&lt;/h2&gt;‎‏</pre></td>
      </tr>
      <tr>
        <td><pre>###‏ عنوان كبير</pre></td>
        <td><pre>‎&lt;h3&gt;‎‏ عنوان كبير‎&lt;/h3&gt;‎‏</pre></td>
      </tr>
      <tr>
        <td><pre>####‏ عنوان</pre></td>
        <td><pre>‎&lt;h4&gt;‎‏ عنوان‎&lt;/h4&gt;‎‏</pre></td>
      </tr>
      <tr>
        <td><pre>##### عنوان صغير</pre></td>
        <td><pre>‎&lt;h5&gt;‎‏ عنوان صغير‎&lt;/h5&gt;‎‏</pre></td>
      </tr>
      <tr>
        <td><pre>###### أصغر عنوان</pre></td>
        <td><pre>‎&lt;h6&gt;‎‏ أصغر عنوان‎&lt;/h6&gt;‎‏</pre></td>
      </tr>
      <tr>
        <td><pre>* قائمة بدون ترتيب</pre></td>
        <td><pre>‎&lt;ul&gt;&lt;li&gt;‎‏قائمة بدون ترتيب‎&lt;/li&gt;&lt;/ul&gt;‎‏</pre></td>
      </tr>
      <tr>
        <td><pre>1. قائمة مرتبة</pre></td>
        <td><pre>‎&lt;ol&gt;&lt;li&gt;‎‏قائمة مرتبة‎&lt;/li&gt;&lt;/ol&gt;‎‏</pre></td>
      </tr>
      <tr>
        <td><pre>*خط مائل*</pre></td>
        <td><pre>‎&lt;em&gt;‎‏خط مائل‎&lt;/em&gt;‎‏</pre></td>
      </tr>
      <tr>
        <td><pre>**خط غامق**</pre></td>
        <td><pre>‎&lt;strong&gt;‎‏خط غامق‎&lt;/strong&gt;‎‏</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
