<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">اختصارات لوحة المفاتيح</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>أوامر المحرّر</caption>
    <thead>
      <tr>
        <th scope="col">العملية</th>
        <th scope="col">Windows</th>
        <th scope="col">نظام التشغيل Mac‏</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>تراجع</td>
        <td>‎‏‎CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>إعادة</td>
        <td>‎CTRL + Y‎‏</td>
        <td>‎‏‎⌘⇧Z</td>
      </tr>
      <tr>
        <td>غامق</td>
        <td>CTRL + B</td>
        <td>‎⌘B‎‏</td>
      </tr>
      <tr>
        <td>مائل</td>
        <td>‎CTRL + I‎‏</td>
        <td>‎⌘I‎‏</td>
      </tr>
      <tr>
        <td>تسطير</td>
        <td>‎CTRL + U‎‏</td>
        <td>‎⌘U‎‏</td>
      </tr>
      <tr>
        <td>مسافة بادئة</td>
        <td>‎CTRL + ]‎‏</td>
        <td>‎⌘]‎‏</td>
      </tr>
      <tr>
        <td>تقليل المسافة البادئة</td>
        <td>‎CTRL + [‎‏</td>
        <td>‎⌘[‎‏</td>
      </tr>
      <tr>
        <td>إضافة رابط</td>
        <td>‎CTRL + K‎‏</td>
        <td>‎⌘K‎‏</td>
      </tr>
      <tr>
        <td>وضع الشاشة الكاملة (التبديل)</td>
        <td>‎CTRL + SHIFT + F‎‏</td>
        <td>‎⌘⇧F‎‏</td>
      </tr>
      <tr>
        <td>قائمة التعليمات (فتحها)</td>
        <td>‎CTRL + SHIFT + H‎‏</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>قائمة السياق (فتحها)</td>
        <td>‎SHIFT + F10‎‏</td>
        <td>⇧F10‎‏</td>
      </tr>
      <tr>
        <td>إكمال الكود تلقائيًّا</td>
        <td>‎CTRL + Space‎‏</td>
        <td>‎⌃Space‎‏</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*ملاحظة: من المحتمل أن بعض الميزات معطلة من قبل المسؤول.</div>
</div>
