<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Informazioni su</div>
  <p>Textbox.io è uno strumento WYSIWYG per la creazione di contenuti sempre accattivanti per le app on-line. Nelle comunità social, sui blog, nella posta elettronica o quant’altro, Textbox.io aiuta le persone a esprimersi sul web.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Tutti i diritti riservati.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Licenze di terze parti</a></p>
</div>
