<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Istruzioni per l’accessibilità</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navigazione tramite tastiera</caption>
      <thead>
        <tr>
          <th scope="col">Azione</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Attiva barra degli strumenti</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Seleziona pulsante gruppo prec/succ</td>
        <td>← o →</td>
        <td>← o →</td>
      </tr>
      <tr>
        <td>Vai al gruppo successivo</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Vai al gruppo precedente</td>
        <td>MAIUSC + TAB</td>
        <td>MAIUSC + TAB</td>
      </tr>
      <tr>
        <td>Esegui comando</td>
        <td>SPAZIO o INVIO</td>
        <td>SPAZIO o INVIO</td>
      </tr>
      <tr>
        <td>Seleziona voce di menu prec/succ</td>
        <td>↓ o ↑</td>
        <td>↓ o ↑</td>
      </tr>
      <tr>
        <td>Chiudi menu</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
