<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Formattazione Markdown</div>
  <p>Il markdown è una sintassi per la creazione di formattazione e strutture HTML senza bisogno di usare le scorciatoie da tastiera o i menu d’accesso. Per utilizzare la formattazione markdown, inserire la sintassi desiderata e premere il tasto invio o spazio.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Sintassi di formattazione da tastiera</caption>
      <thead>
        <tr>
          <th scope="col">Sintassi</th>
          <th scope="col">Risultato HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Titolo di livello 1</pre></td>
        <td><pre>&lt;h1&gt; Titolo di livello 1&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Titolo di livello 2</pre></td>
        <td><pre>&lt;h2&gt;Titolo di livello 2&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Titolo di livello 3</pre></td>
        <td><pre>&lt;h3&gt;Titolo di livello 3&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Titolo di livello 4</pre></td>
        <td><pre>&lt;h4&gt;Titolo di livello 4&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Titolo di livello 5</pre></td>
        <td><pre>&lt;h5&gt;Titolo di livello 5&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Titolo di livello 6</pre></td>
        <td><pre>&lt;h6&gt;Titolo di livello 6&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Elenco non ordinato</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Elenco non ordinato&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Elenco ordinato</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Elenco ordinato&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Corsivo*</pre></td>
        <td><pre>&lt;em&gt;Corsivo&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Grassetto**</pre></td>
        <td><pre>&lt;strong&gt;Grassetto&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
