<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Scorciatoie da tastiera</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Comandi di modifica</caption>
    <thead>
      <tr>
        <th scope="col">Azione</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Annulla</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Ripristina</td>
        <td>CTRL + Y</td>
        <td>⌘ + MAIUSC + Z</td>
      </tr>
      <tr>
        <td>Grassetto</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Corsivo</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Sottolineato</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Rientro</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Riduci rientro</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Aggiungi collegamento</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Attiva/disattiva modalità schermo intero</td>
        <td>CTRL + MAIUSC + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Menu Aiuto (apri)</td>
        <td>CTRL + MAIUSC + /</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Menu contestuale (apri)</td>
        <td>MAIUSC + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Autocompleta codice</td>
        <td>CTRL + spazio</td>
        <td>⌃spazio</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Nota: Alcune funzioni potrebbero essere state disabilitate dall’amministratore.</div>
</div>
