<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">אודות</div>
  <p>Textbox.io הוא כלי WYSIWYG ליצירת תוכן שנראה נהדר באפליקציות מקוונות. בין אם מדובר בקהילות חברתיות, בבלוגים, בדואר אלקטרוני או בכל דבר אחר, Textbox.io מאפשר לאנשים להביע את עצמם באינטרנט.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation.‎ כל הזכויות שמורות.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">רשיונות צד שלישי</a></p>
</div>
