<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">הנחיות לגבי נגישות</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>ניווט במקלדת</caption>
      <thead>
        <tr>
          <th scope="col">פעולה</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>הפעלת סרגל הכלים</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>בחירת הלחצן הבא/הקודם בקבוצה</td>
        <td>← או →</td>
        <td>← או →</td>
      </tr>
      <tr>
        <td>מעבר לקבוצה הבאה</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>מעבר לקבוצה הקודמת</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>ביצוע הפקודה</td>
        <td>רווח או ENTER</td>
        <td>רווח או ENTER</td>
      </tr>
      <tr>
        <td>בחירת פריט התפריט הבא/הקודם</td>
        <td>↓ או ↑</td>
        <td>↓ או ↑</td>
      </tr>
      <tr>
        <td>סגירת התפריט</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
