<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">עיצוב Markdown</div>
  <p>Markdown הוא תחביר ליצירת מבנים ועיצוב של HTML ללא צורך בשימוש בקיצורי מקשים או בגישה לתפריטים. כדי להשתמש בעיצוב Markdown, הזן את התחביר הרצוי ולאחר מכן הקש על ENTER או על מקש הרווח.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>תחביר לעיצוב באמצעות המקלדת</caption>
      <thead>
        <tr>
          <th scope="col">תחביר</th>
          <th scope="col">התוצאה ב-HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># הכותרת הגדולה ביותר</pre></td>
        <td><pre>&lt;h1&gt; הכותרת הגדולה ביותר&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## כותרת גדולה יותר</pre></td>
        <td><pre>&lt;h2&gt;כותרת גדולה יותר&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### כותרת גדולה</pre></td>
        <td><pre>&lt;h3&gt;כותרת גדולה&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>#### כותרת</pre></td>
        <td><pre>&lt;h4&gt;כותרת&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### כותרת קטנה</pre></td>
        <td><pre>&lt;h5&gt;כותרת קטנה&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### הכותרת הקטנה ביותר</pre></td>
        <td><pre>&lt;h6&gt;הכותרת הקטנה ביותר&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* רשימה לא מסודרת</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;רשימה לא מסודרת&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. רשימה מסודרת</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;רשימה מסודרת&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*נטוי*</pre></td>
        <td><pre>&lt;em&gt;נטוי&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**מודגש**</pre></td>
        <td><pre>&lt;strong&gt;מודגש&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
