<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">קיצורי מקשים</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>פקודות של העורך</caption>
    <thead>
      <tr>
        <th scope="col">פעולה</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>בטל</td>
        <td>CTRL + Z</td>
        <td>‎⌘Z</td>
      </tr>
      <tr>
        <td>בצע שוב</td>
        <td>CTRL + Y</td>
        <td>‎⌘⇧Z</td>
      </tr>
      <tr>
        <td>מודגש</td>
        <td>CTRL + B</td>
        <td>‎⌘B</td>
      </tr>
      <tr>
        <td>נטוי</td>
        <td>CTRL + I</td>
        <td>‎⌘I</td>
      </tr>
      <tr>
        <td>קו תחתון</td>
        <td>CTRL + U</td>
        <td>‎⌘U</td>
      </tr>
      <tr>
        <td>הסט פנימה</td>
        <td>CTRL + ]‎</td>
        <td>‎⌘]‎</td>
      </tr>
      <tr>
        <td>הסט החוצה</td>
        <td>CTRL + [‎</td>
        <td>‎⌘[‎</td>
      </tr>
      <tr>
        <td>הוסף קישור</td>
        <td>CTRL + K</td>
        <td>‎⌘K</td>
      </tr>
      <tr>
        <td>מצב מסך מלא (מעבר בין מצבים)</td>
        <td>CTRL + SHIFT + F</td>
        <td>‎⌘⇧F</td>
      </tr>
      <tr>
        <td>תפריט עזרה (פתיחה)</td>
        <td>CTRL + SHIFT + H‎</td>
        <td>‎⌃⌥H‎</td>
      </tr>
      <tr>
        <td>תפריט הקשרי (פתיחה)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>השלמה אוטומטית של קוד</td>
        <td>CTRL + רווח</td>
        <td>⌃רווח</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">* הערה: ייתכן שמנהל המערכת ישבית חלק מהתכונות.</div>
</div>
