<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">درباره</div>
  <p>Textbox.io یک ابزار ویزی ویگ برای ایجاد محتوایی با ظاهر عالی در برنامه های آنلاین است. چه در محیط های اجتماعی، بلاگها، ایمیل، یا هر مورد مشابه، Textbox.io به مردم امکان می دهد خود را در وب نشان دهند.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. همه حقوق محفوظ است.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">مجوزهای شخص ثالث</a></p>
</div>
