<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">دستورالعمل های دسترسی</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>مرور با صفحه کلید</caption>
      <thead>
        <tr>
          <th scope="col">اقدام</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>فعالسازی نوار ابزار</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>انتخاب دکمه گروه بعدی/قبلی</td>
        <td>← یا →</td>
        <td>← یا →</td>
      </tr>
      <tr>
        <td>رفتن به گروه بعدی</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>رفتن به گروه قبلی</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>اجرای فرمان</td>
        <td>SPACE یا ENTER</td>
        <td>SPACE یا ENTER</td>
      </tr>
      <tr>
        <td>انتخاب مورد منو بعدی/قبلی</td>
        <td>↓ یا ↑</td>
        <td>↓ یا ↑</td>
      </tr>
      <tr>
        <td>بستن منو</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
