<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">قالب بندی Markdown</div>
  <p>Markdown یک ساختار دستوری برای ایجاد ساختارهای HTML و قالب بندی بدون نیاز به استفاده از میانبرهای صفحه کلید و دسترسی به منوها است. برای استفاده از قالب بندی markdown، ساختار دستوری دلخواه را با کلید enter یا space وارد کنید.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>ساختار دستوری صفحه کلید</caption>
      <thead>
        <tr>
          <th scope="col">ساختار دستوری</th>
          <th scope="col">نتیجه HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># بزرگترین عنوان</pre></td>
        <td><pre>&lt;h1&gt; بزرگترین عنوان&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## عنوان بزرگتر</pre></td>
        <td><pre>&lt;h2&gt;عنوان بزرگتر&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### عنوان بزرگ</pre></td>
        <td><pre>&lt;h3&gt;عنوان بزرگ&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  عنوان</pre></td>
        <td><pre>&lt;h4&gt;عنوان&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### عنوان کوچک</pre></td>
        <td><pre>&lt;h5&gt;عنوان کوچک&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### کوچکترین عنوان</pre></td>
        <td><pre>&lt;h6&gt;کوچکترین عنوان&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* فهرست نامرتب</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;فهرست نامرتب&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. فهرست مرتب</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;فهرست مرتب&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*کج*</pre></td>
        <td><pre>&lt;em&gt;کج&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**ضخیم**</pre></td>
        <td><pre>&lt;strong&gt;ضخیم&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
