<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">میانبرهای صفحه کلید</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>فرمانهای ویرایشگر</caption>
    <thead>
      <tr>
        <th scope="col">اقدام</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>لغو کردن</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>تکرار کردن</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>ضخیم</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>کج</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>زیر خط دار</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>تورفتگی</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>کاهش تورفتگی</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>افزودن پیوند</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>حالت تمام صفحه (تغییر)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>منوی راهنما (باز)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>منوی زمینه (باز)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>تکمیل خودکار کد</td>
        <td>CTRL + Space</td>
        <td>⌃Space</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*توجه: سرپرست شما می تواند برخی ویژگیها را غیرفعال کند.</div>
</div>
