<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Πληροφορίες</div>
  <p>Το Textbox.io είναι ένα εργαλείο WYSIWYG για τη δημιουργία περιεχομένου με ωραία εμφάνιση σε online εφαρμογές. Είτε πρόκειται για κοινότητες κοινωνικής δικτύωσης, ιστολόγια (blog), ηλεκτρονική αλληλογραφία (email), ή οτιδήποτε παρόμοιο, το Textbox.io επιτρέπει στους ανθρώπους να εκφράζοναι στο web.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Με επιφύλαξη κάθε νόμιμου δικαιώματος.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Άδειες χρήσης τρίτων</a></p>
</div>
