<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Οδηγίες προσβασιμότητας</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Πλοήγηση μέσω πληκτρολογίου</caption>
      <thead>
        <tr>
          <th scope="col">Ενέργεια</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Ενεργοποίηση γραμμής εργαλείων</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Κουμπί επιλογής επόμενης/προηγούμενης ομάδας</td>
        <td>← ή →</td>
        <td>← ή →</td>
      </tr>
      <tr>
        <td>Μετακίνηση στην επόμενη ομάδα</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Μετακίνηση στην προηγούμενη ομάδα</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Εκτέλεση εντολής</td>
        <td>ΔΙΑΣΤΗΜΑ ή ENTER</td>
        <td>ΔΙΑΣΤΗΜΑ ή ENTER</td>
      </tr>
      <tr>
        <td>Επιλογή επόμενου/προηγούμενου στοιχείου μενού</td>
        <td>↓ ή ↑</td>
        <td>↓ ή ↑</td>
      </tr>
      <tr>
        <td>Μενού κλεισίματος</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
