<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Μορφοποίηση Markdown</div>
  <p>Η Markdown είναι μια σύνταξη για τη δημιουργία δομών HTML και τη μορφοποίηση χωρίς να απαιτείται η χρήση συντομεύσεων πληκτρολογίου ή μενού πρόσβασης. Για να χρησιμοποιήσετε τη μορφοποίηση markdown, εισαγάγετε την επιθυμητή σύνταξη ακολουθούμενη από το πλήκτρο διαστήματος ή enter.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Σύνταξη μορφοποίησης πληκτρολογίου</caption>
      <thead>
        <tr>
          <th scope="col">Σύνταξη</th>
          <th scope="col">Αποτέλεσμα HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Μέγιστη επικεφαλίδα</pre></td>
        <td><pre>&lt;h1&gt; Μέγιστη επικεφαλίδα&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Μεγαλύτερη επικεφαλίδα</pre></td>
        <td><pre>&lt;h2&gt;Μεγαλύτερη επικεφαλίδα&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Μεγάλη επικεφαλίδα</pre></td>
        <td><pre>&lt;h3&gt;Μεγάλη επικεφαλίδα&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Επικεφαλίδα</pre></td>
        <td><pre>&lt;h4&gt;Επικεφαλίδα&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Μικρή επικεφαλίδα</pre></td>
        <td><pre>&lt;h5&gt;Μικρή επικεφαλίδα&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Η πιο μικρή επικεφαλίδα</pre></td>
        <td><pre>&lt;h6&gt;Η πιο μικρή επικεφαλίδα&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Μη ταξινομημένη λίστα</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Μη ταξινομημένη λίστα&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Ταξινομημένη λίστα</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Ταξινομημένη λίστα&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Πλάγια γραφή*</pre></td>
        <td><pre>&lt;em&gt;Πλάγια γραφή&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Έντονη γραφή**</pre></td>
        <td><pre>&lt;strong&gt;Έντονη γραφή&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
