<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Συντομεύσεις πληκτρολογίου</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Εντολές επεξεργαστή κειμένου</caption>
    <thead>
      <tr>
        <th scope="col">Ενέργεια</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Αναίρεση</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Επανάληψη</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Έντονη γραφή</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Πλάγια γραφή</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Υπογράμμιση</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Εσοχή</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Μείωση εσοχής</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Προσθήκη σύνδεσης</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Λειτουργία πλήρους οθόνης (Εναλλαγή)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Μενού Βοήθειας (Άνοιγμα)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Μενού περιβάλλοντος (Άνοιγμα)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10‎‏</td>
      </tr>
      <tr>
        <td>Αυτόματη συμπλήρωση κώδικα</td>
        <td>CTRL + Διάστημα</td>
        <td>⌃Διάστημα</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Σημείωση: Ορισμένες δυνατότητες μπορούν να απενεργοποιηθούν από το διαχειριστή σας.</div>
</div>
