<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Про програму</div>
  <p>Textbox.io — це WYSIWYG-інструмент для створення привабливого контенту в онлайн-додатках. Незалежно від того, це соціальна мережа, блог, електронний лист чи щось інше, Textbox.io дає можливість людям виражати себе в Інтернеті.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Авторські права 2015 р., Ephox Corporation. Усі права захищено</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Ліцензії третіх сторін</a></p>
</div>
