<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Спеціальні можливості</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Керування за допомогою клавіатури</caption>
      <thead>
        <tr>
          <th scope="col">Дія</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Активувати панель інструментів</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Вибрати наступну/попередню кнопку групи</td>
        <td>← або →</td>
        <td>← або →</td>
      </tr>
      <tr>
        <td>Перейти в наступну групу</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Перейти в попередню групу</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Виконати команду</td>
        <td>ПРОБІЛ або ENTER</td>
        <td>ПРОБІЛ або ENTER</td>
      </tr>
      <tr>
        <td>Вибрати наступний/попередній пункт меню</td>
        <td>↓ або ↑</td>
        <td>↓ або ↑</td>
      </tr>
      <tr>
        <td>Закрити меню</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
