<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Форматування Markdown</div>
  <p>Markdown – це синтаксична конструкція розмітки тексту для створення структур HTML і форматування без необхідності використання комбінацій клавіш та меню доступу. Для використання форматування Markdown необхідно ввести відповідну синтаксичну конструкцію та натиснути після цього Enter або пробіл.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Введення синтаксичної конструкції форматування за допомогою клавіатури</caption>
      <thead>
        <tr>
          <th scope="col">Синтаксична конструкція</th>
          <th scope="col">Результат в HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Заголовок першого рівня</pre></td>
        <td><pre>&lt;h1&gt; Заголовок першого рівня&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Заголовок другого рівня</pre></td>
        <td><pre>&lt;h2&gt;Заголовок другого рівня&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Заголовок третього рівня</pre></td>
        <td><pre>&lt;h3&gt;Заголовок третього рівня&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>#### Заголовок четвертого рівня</pre></td>
        <td><pre>&lt;h4&gt;Заголовок четвертого рівня&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Заголовок п'ятого рівня</pre></td>
        <td><pre>&lt;h5&gt;Заголовок п'ятого рівня&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Заголовок шостого рівня</pre></td>
        <td><pre>&lt;h6&gt;Заголовок шостого рівня&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Невпорядкований список</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Невпорядкований список&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Впорядкований список</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Впорядкований список&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Курсив*</pre></td>
        <td><pre>&lt;em&gt;Курсив&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Жирний**</pre></td>
        <td><pre>&lt;strong&gt;Жирний&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
