<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Комбінації клавіш</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Команди для роботи з редактором</caption>
    <thead>
      <tr>
        <th scope="col">Дія</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Скасувати</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Повторити</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Жирний</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Курсив</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Підкреслення</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Відступ</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Зменшити відступ</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Додати посилання</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Режим повного екрана (переключення)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Меню допомоги (відкрити)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Контекстне меню (відкрити)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Автоматичне заповнення коду</td>
        <td>CTRL + ПРОБІЛ</td>
        <td>⌃ПРОБІЛ</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Примітка. Деякі функції можуть бути відключені вашим адміністратором.</div>
</div>
