<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">O programu</div>
  <p>Textbox.io je alat WYSIWYG za stvaranje sadržaja dobrog izgleda u mrežnim aplikacijama. Textbox.io omogućuje ljudima da se izraze na internetu, bez obzira radi li se o društvenim zajednicama, blogovima, e-pošti ili bilo čemu drugom.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Autorska prava 2015. Ephox Corporation. Sva prava pridržana.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Licence treće strane</a></p>
</div>
