<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Upute za pristupačnost</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navigacija na tipkovnici</caption>
      <thead>
        <tr>
          <th scope="col">Radnja</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Aktiviraj alatnu traku</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Odaberi gumb za sljedeću/prethodnu grupu</td>
        <td>← ili →</td>
        <td>← ili →</td>
      </tr>
      <tr>
        <td>Pomakni se na sljedeću grupu</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Pomakni se na prethodnu grupu</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Izvrši naredbu</td>
        <td>SPACE ili ENTER</td>
        <td>SPACE ili ENTER</td>
      </tr>
      <tr>
        <td>Odaberi sljedeću/prethodnu stavku izbornika</td>
        <td>↓ ili ↑</td>
        <td>↓ ili ↑</td>
      </tr>
      <tr>
        <td>Zatvori izbornik</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
