<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Oblikovanje s markdownom</div>
  <p>Markdown je sintaksa za stvaranje struktura HTML-a i oblikovanje bez upotrebe prečaca na tipkovnici ili izbornika za pristup. Da biste se koristili oblikovanjem s markdownom, unesite željenu sintaksu pa pritisnite tipku enter ili razmak.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Sintaksa za oblikovanje tipkovnice</caption>
      <thead>
        <tr>
          <th scope="col">Sintaksa</th>
          <th scope="col">Rezultat u HTML-u</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Najveće zaglavlje</pre></td>
        <td><pre>&lt;h1&gt; Najveće zaglavlje&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Veće zaglavlje</pre></td>
        <td><pre>&lt;h2&gt;Veće zaglavlje&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Veliko zaglavlje</pre></td>
        <td><pre>&lt;h3&gt;Veliko zaglavlje&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Zaglavlje</pre></td>
        <td><pre>&lt;h4&gt;Zaglavlje&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Malo zaglavlje</pre></td>
        <td><pre>&lt;h5&gt;Malo zaglavlje&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Najmanje zaglavlje</pre></td>
        <td><pre>&lt;h6&gt;Najmanje zaglavlje&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Neuređeni popis</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Neuređeni popis&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Uređeni popis</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Uređeni popis&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Kurziv*</pre></td>
        <td><pre>&lt;em&gt;Kurziv&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Podebljano**</pre></td>
        <td><pre>&lt;strong&gt;Podebljano&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
