<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Om</div>
  <p>Textbox.io er et WYSIWYG-verktøy for å skape flott innhold i nettbaserte apper. I sosiale medier, på blogger, i e-post eller alt annet mellom disse, lar Textbox.io folk uttrykke seg på Internett.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Med enerett</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Tredjepartslisenser</a></p>
</div>
