<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Instruksjoner for tilgang</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navigering med tastaturet</caption>
      <thead>
        <tr>
          <th scope="col">Handling</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Aktiver verktøylinje</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Knappen Velg neste/forrige gruppe</td>
        <td>← eller →</td>
        <td>← eller →</td>
      </tr>
      <tr>
        <td>Gå til neste gruppe</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Gå til forrige gruppe</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Utfør kommando</td>
        <td>MELLOMROM eller ENTER</td>
        <td>MELLOMROM eller ENTER</td>
      </tr>
      <tr>
        <td>Velg neste/forrige menyelement</td>
        <td>↓ eller ↑</td>
        <td>↓ eller ↑</td>
      </tr>
      <tr>
        <td>Lukk meny</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
