<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Markdown-formatering</div>
  <p>Markdown er en syntaks for oppretting av HTML-strukturer og for å formatere uten bruk av tastatursnarveier eller tilgangsmenyer. For å bruke Markdown-formatering, angir du ønsket syntaks etterfulgt av Enter eller mellomromstasten.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Tastaturformaterende syntaks</caption>
      <thead>
        <tr>
          <th scope="col">Syntaks</th>
          <th scope="col">HTML-resultat</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Største overskrift</pre></td>
        <td><pre>&lt;h1&gt; Største overskrift&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Større overskrift</pre></td>
        <td><pre>&lt;h2&gt;Større overskrift&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Stor overskrift</pre></td>
        <td><pre>&lt;h3&gt;Stor overskrift&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Overskrift</pre></td>
        <td><pre>&lt;h4&gt;Overskrift&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Liten overskrift</pre></td>
        <td><pre>&lt;h5&gt;Liten overskrift&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Minste overskrift</pre></td>
        <td><pre>&lt;h6&gt;Minste overskrift&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Usortert liste</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Usortert liste&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Sortert liste</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Sortert liste&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Italisk*</pre></td>
        <td><pre>&lt;em&gt;Italisk&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Fet**</pre></td>
        <td><pre>&lt;strong&gt;Fet&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
