<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Tastatursnarveier</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Redigeringskommandoer</caption>
    <thead>
      <tr>
        <th scope="col">Handling</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Angre</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Gjør om</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Fet</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Kursiv</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Understreking</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Øk innrykk</td>
        <td>CTRL+]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Reduser innrykk</td>
        <td>CTRL+[</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Legg til kobling</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Fullskjermmodus (av/på)</td>
        <td>CTRL + SKIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Hjelpemeny (åpne)</td>
        <td>CTRL + SKIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Sammenhengsmeny (åpne)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Autofullfør kode</td>
        <td>CTRL + SPACE</td>
        <td>⌃SPACE</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Merk: Noen funksjoner kan være deaktivert av din administrator.</div>
</div>
