<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">O programu</div>
  <p>Textbox.io je WYSIWYG nástroj pro vytváření skvěle vypadajícího obsahu v online aplikacích. Ať už se Textbox.io používá na sociálních sítích, při vytváření blogů, psaní e-mailů nebo jiných podobných činnostech, umožňuje uživatelům plně se na internetu vyjádřit.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Všechna práva vyhrazena.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Licence třetích stran</a></p>
</div>
