<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Pokyny týkající se usnadnění přístupu</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navigace prostřednictvím klávesnice</caption>
      <thead>
        <tr>
          <th scope="col">Akce</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Aktivovat panel nástrojů</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Tlačítko pro výběr následující/předchozí skupiny</td>
        <td>← nebo →</td>
        <td>← nebo →</td>
      </tr>
      <tr>
        <td>Přejít na následující skupinu</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Přejít na předchozí skupinu</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Provést příkaz</td>
        <td>MEZERNÍK nebo ENTER</td>
        <td>MEZERNÍK nebo ENTER</td>
      </tr>
      <tr>
        <td>Vybrat následující/předchozí položku v nabídce</td>
        <td>↓ nebo ↑</td>
        <td>↓ nebo ↑</td>
      </tr>
      <tr>
        <td>Zavřít nabídku</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
