<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Formátování s pomocí syntaxe markdown</div>
  <p>Markdown je syntaxe pro vytváření HTML struktur a pro formátování, při jejímž použití není nutné používat klávesové zkratky ani nabídky. Pokud chcete použít markdown formátování, zadejte požadovanou syntaxi a příslušný výraz ukončete klávesou enter nebo mezerníkem.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Syntaxe pro formátování s pomocí klávesnice</caption>
      <thead>
        <tr>
          <th scope="col">Syntaxe</th>
          <th scope="col">Výsledný HTML kód</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Největší nadpis</pre></td>
        <td><pre>&lt;h1&gt; Největší nadpis&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Větší nadpis</pre></td>
        <td><pre>&lt;h2&gt;Větší nadpis&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Velký nadpis</pre></td>
        <td><pre>&lt;h3&gt;Velký nadpis&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>#### Nadpis</pre></td>
        <td><pre>&lt;h4&gt;Nadpis&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Malý nadpis</pre></td>
        <td><pre>&lt;h5&gt;Malý nadpis&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Nejmenší nadpis</pre></td>
        <td><pre>&lt;h6&gt;Nejmenší nadpis&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Neuspořádaný seznam</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Neuspořádaný seznam&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Uspořádaný seznam</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Uspořádaný seznam&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Kurzíva*</pre></td>
        <td><pre>&lt;em&gt;Kurzíva&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Tučné**</pre></td>
        <td><pre>&lt;strong&gt;Tučné&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
