<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Klávesové zkratky</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Příkazy editoru</caption>
    <thead>
      <tr>
        <th scope="col">Akce</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Zpět</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Znovu</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Tučné</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Kurzíva</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Podtržení</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Zvětšit odsazení</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Zmenšit odsazení</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Přidat odkaz</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Režim celé obrazovky (přepínání)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Nabídka Nápověda (otevřít)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Kontextová nabídka (otevřít)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10‎‏</td>
      </tr>
      <tr>
        <td>Automatické dokončování kódu</td>
        <td>CTRL + mezerník</td>
        <td>⌃mezerník</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">* Poznámka: Některé funkce mohou být správcem zakázány.</div>
</div>
