<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">Om</div>
  <p>Textbox.io er et WYSIWYG-værktøj til at skabe indhold der ser fantastisk ud i online apps. Uanset om det er i sociale fællesskaber, blogs, e-mails eller noget midt imellem, lader Textbox.io folk komme til orde på nettet.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Alle rettigheder forbeholdes.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Tredjepartslicenser</a></p>
</div>
