<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Vejledning om hjælp til handicappede</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navigation med tastatur</caption>
      <thead>
        <tr>
          <th scope="col">Handling</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Aktiver værktøjslinje</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Knappen vælg næste/forrige gruppe</td>
        <td>← eller →</td>
        <td>← eller →</td>
      </tr>
      <tr>
        <td>Flyt til næste gruppe</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Flyt til forrige gruppe</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Udfør kommando</td>
        <td>MELLEMRUM eller ENTER</td>
        <td>MELLEMRUM eller ENTER</td>
      </tr>
      <tr>
        <td>Punktet vælg næste/forrige gruppe</td>
        <td>↓ eller ↑</td>
        <td>↓ eller ↑</td>
      </tr>
      <tr>
        <td>Luk menu</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
