<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Markdown-formatering</div>
  <p>Markdown er en syntaks til at skabe HTML-strukturer og -formatering uden at skulle bruge tastaturgenveje eller gå ind i menuer. Hvis du vil bruge markdown-formatering, skal du indtaste den ønskede syntaks efterfulgt af Enter eller mellemrumstasten.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Syntaks for tastaturformatering</caption>
      <thead>
        <tr>
          <th scope="col">Syntaks</th>
          <th scope="col">HTML-resultater</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Største overskrift</pre></td>
        <td><pre>&lt;h1&gt; Største overskrift&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Stor overskrift</pre></td>
        <td><pre>&lt;h2&gt;Stor overskrift&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Stor overskrift</pre></td>
        <td><pre>&lt;h3&gt;Stor overskrift&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Overskrift</pre></td>
        <td><pre>&lt;h4&gt;Overskrift&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Lille overskrift</pre></td>
        <td><pre>&lt;h5&gt;Lille overskrift&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Mindste overskrift</pre></td>
        <td><pre>&lt;h6&gt;Mindste overskrift&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Usorteret liste</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Usorteret liste&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Sorteret liste</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Sorteret liste&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Kursiv*</pre></td>
        <td><pre>&lt;em&gt;Kursiv&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Fed**</pre></td>
        <td><pre>&lt;strong&gt;Fed&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
