<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Tastaturgenveje</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Kommandoer under editor</caption>
    <thead>
      <tr>
        <th scope="col">Handling</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fortryd</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Annuller Fortryd</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Fed</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Kursiv</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Understregning</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Indrykning</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Formindsk indrykning</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Tilføj link</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Fuldskærmsvisning (skift)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Hjælpmenu (åben)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Genvejsmenu (åben)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10‎‏</td>
      </tr>
      <tr>
        <td>Autofuldførelse af kode</td>
        <td>CTRL + mellemrumstast</td>
        <td>⌃mellemrumstast</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Bemærk: Visse funktioner kan være slået fra af din administrator.</div>
</div>
