<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">เกี่ยวกับ</div>
  <p>Textbox.io เป็นเครื่องมือแบบ WYSIWYG ใช้สำหรับสร้างสาระเนื้อหาที่ดูดีในแอพบนออนไลน์ ไม่ว่าจะเป็นชุมชนทางสังคม บล๊อคส์ อีเมล หรืออะไรก็ได้เหล่านี้ Textbox.io สามารถให้ผู้คนได้แสดงตัวตนออกทางเว็บได้</p>

  <p>Textbox.io @@FULL_VERSION@@ สงวนลิขสิทธิ์ 2015 Ephox Corporation<br /> สงวนลิขสิทธิ์</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Third Party Licenses</a></p>
</div>
