<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">คำแนะนำในการเข้าถึง</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>การนำทางด้วยแป้นพิมพ์</caption>
      <thead>
        <tr>
          <th scope="col">แอ๊คชั่น</th>
          <th scope="col">วินโดว์</th>
          <th scope="col">แมค โอเอส</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>ทูลบาร์สำหรับการเปิดใช้งาน</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Select Next/Prev Group Button</td>
        <td>← or →</td>
        <td>← or →</td>
      </tr>
      <tr>
        <td>ย้ายไปยังกลุ่มต่อไป</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>ย้ายไปยังกลุ่มก่อนหน้านี้</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>คำสั่งให้ทำงาน</td>
        <td>SPACE หรือ ENTER</td>
        <td>SPACE หรือ ENTER</td>
      </tr>
      <tr>
        <td>เลือกรายการเมนู Next/Prev </td>
        <td>↓ or ↑</td>
        <td>↓ or ↑</td>
      </tr>
      <tr>
        <td>ปิดเมนู</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
