<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">การกำหนดรูปแบบ Markdown</div>
  <p>Markdown เป็นคำสั่งสำหรับสร้างโครงสร้าง HTML และการกำหนดรูปแบบโดยไม่ต้องใช้ shortcuts บนแป้นพิมพ์หรือเมนูในการเข้าถึง ในการใช้รูปแบบ Markdown ให้ใส่ชุดคำสั่งที่ต้องการ ตามด้วยการกดปุ่ม enter หรือปุ่ม space</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>ชุดคำสั่งในการกำหนดแป้นพิมพ์</caption>
      <thead>
        <tr>
          <th scope="col">ชุดคำสั่ง</th>
          <th scope="col">ผลลัพธ์เป็น HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># หัวเรื่องขนาดใหญ่ที่สุด</pre></td>
        <td><pre>&lt;h1&gt; หัวเรื่องขนาดใหญ่ที่สุด&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## หัวเรื่องขนาดใหญ่กว่า</pre></td>
        <td><pre>&lt;h2&gt;หัวเรื่องขนาดใหญ่กว่า&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### หัวเรื่องขนาดใหญ่</pre></td>
        <td><pre>&lt;h3&gt;หัวเรื่องขนาดใหญ่&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  หัวเรื่อง</pre></td>
        <td><pre>&lt;h4&gt;หัวเรื่อง&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### หัวเรื่องขนาดเล็ก</pre></td>
        <td><pre>&lt;h5&gt;หัวเรื่องขนาดเล็ก&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### หัวเรื่องขนาดเล็กที่สุด</pre></td>
        <td><pre>&lt;h6&gt;หัวเรื่องขนาดเล็กที่สุด &lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* รายการที่ยังไม่ได้จัดเรียง</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;รายการที่ยังไม่ได้จัดเรียง&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. รายการที่จัดเรียงแล้ว</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;รายการที่จัดเรียงแล้ว&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*ตัวเอียง*</pre></td>
        <td><pre>&lt;em&gt;ตัวเอียง&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**ตัวหนา**</pre></td>
        <td><pre>&lt;strong&gt;ตัวหนา&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
