<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">ชอร์ตคัตจากแป้นพิมพ์</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>คำสั่งในการปรับปรุงแก้ไข</caption>
    <thead>
      <tr>
        <th scope="col">แอ๊คชั่น</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>เปลี่ยนกลับคืน</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>ทำใหม่อีก</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>ตัวหนา</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>ตัวเอียง</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>ขีดเส้นใต้</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>เยื้องย่อหน้า</td>
        <td>CTRL+</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>ลดการเยื้องย่อหน้า</td>
        <td>CTRL+</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Add Link</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>โหมดเต็มหน้าจอ (สลับไปมา)</td>
        <td>CTRL + SHIFT + E</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>เมนูช่วยเหลือ (เปิด)</td>
        <td>CTRL + SHIFT + E</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>เมนูเนื้อหา (เปิด)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>ต่อคำอัติโนมัติสำหรับโค๊ต</td>
        <td>CTRL + SPACE</td>
        <td>⌃SPACE</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*หมายเหตุ: แอดมินสามารถปิดลักษณะบางอย่างได้</div>
</div>
