<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">关于</div>
  <p>Textbox.io是用于在线应用中创建优美内容的“所见即所得”(WYSIWYG)的工具。无论是在网络社区、博客、电邮还是当中任何途径，Textbox.io都能让人们在网上发表自己的心声。</p>

  <p>Textbox.io @@FULL_VERSION@@<br />2015年Ephox公司版权所有。保留所有权利。</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">第三方授权</a></p>
</div>
