<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">可访问性说明</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>键盘导航</caption>
      <thead>
        <tr>
          <th scope="col">动作</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>激活工具栏</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>选择“下一个小组”/“上一个小组”按钮</td>
        <td>← 或 →</td>
        <td>← 或 →</td>
      </tr>
      <tr>
        <td>移动至下一个小组</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>移动至上一个小组</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>执行命令</td>
        <td>空格键或回车键</td>
        <td>空格键或回车键</td>
      </tr>
      <tr>
        <td>选择下一个/上一个菜单项</td>
        <td>↓或↑</td>
        <td>↓或↑</td>
      </tr>
      <tr>
        <td>关闭菜单</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
