<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">标记格式化</div>
  <p>标记是在不需要使用键盘快捷键或访问菜单时，用于 创建HTML结构和格式的语法。使用标记格式化时，请输入所需的语法，然后再按回车或空格键。</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>键盘格式化语法</caption>
      <thead>
        <tr>
          <th scope="col">语法</th>
          <th scope="col">HTML结果</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre>#最大的标题</pre></td>
        <td><pre>&lt;h1&gt;最大的标题&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##更大的标题</pre></td>
        <td><pre>&lt;h2&gt;更大的标题&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###大标题</pre></td>
        <td><pre>&lt;h3&gt;大标题&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####标题</pre></td>
        <td><pre>&lt;h4&gt;标题&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>#####小标题</pre></td>
        <td><pre>&lt;h5&gt;小标题&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>######最小的标题</pre></td>
        <td><pre>&lt;h6&gt;最小的标题&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*无序列表</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;无序列表&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. 有序列表</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;有序列表&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*斜体*</pre></td>
        <td><pre>&lt;em&gt;斜体&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**粗体**</pre></td>
        <td><pre>&lt;strong&gt;粗体&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
