<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <span data-bind="text:pageHeader"></span>
                <small data-bind="text:pageHeaderSubtitle"></small>
            </h1>
            <h2>
                <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;Feedback & Suggestions
            </h2>
            <p>
                I would love to hear from you! I likely won't do anything with your feedback but at least you wil sleep easier knowing you provided me some "valuable information"
                <br />
                <br />
                <a href="mailto:feedback@idontcare.com">Send your comments to me at feedback@idontcare.com</a>
            </p>
            <div>&nbsp;</div>
            <h2>
                <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;Help Requests
            </h2>
            <p>
                Oh sure...you want ME to solve your problems so you can get your work done faster! Next thing you know you will just want me to do your work so you can go play golf...
                <br />
                <br />
                <a href="mailto:support@idontcare.com">Request Support</a>
            </p>
            <div>&nbsp;</div>
            <h2>
                <span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;Hire Me
            </h2>
            <p>
                NOW you're talking! If I am going to do your work for you the least you can do is pay me for my time. Think of it as a donation to my golf fund.
                <br />
                <br />
                <a href="mailto:support@idontcare.com">Contact me to learn more!</a>
            </p>
        </div>
    </div>

</div>
<!-- /.container -->
