<!-- Page Content -->
<div class="container">
    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" data-bind="text: pageTitle"></h1>
            <form data-bind="with: post" name="postCreationForm" id="postCreationForm" class="form-horizontal" novalidate>
                <fieldset>
                    <!-- Blog Post Title-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="postTitle">Post Title</label>

                        <div class="col-md-8">
                            <input id="postTitle" name="postTitle" type="text"
                                   placeholder="Enter a title for this post..." class="form-control input-md"
                                   data-bind="value: title">
                        </div>
                        <!--<div class="col-md-2">-->
                        <!--<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.postTitle.$invalid && !postCreationForm.postTitle.$pristine">-->
                        <!--</span>-->
                        <!--<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.postTitle.$valid && !postCreationForm.postTitle.$pristine">-->
                        <!--</span>-->
                        <!--</div>-->
                    </div>
                    <!-- Author Name -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="authorName">Author Name</label>

                        <div class="col-md-8">
                            <input id="authorName" name="authorName" type="text"
                                   placeholder="Enter the author's name..." class="form-control input-md"
                                   data-bind="value: author">
                        </div>
                        <!--<div class="col-md-2">-->
                        <!--<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.authorName.$invalid && !postCreationForm.authorName.$pristine">-->
                        <!--</span>-->
                        <!--<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.authorName.$valid && !postCreationForm.authorName.$pristine">-->
                        <!--</span>-->
                        <!--</div>-->
                    </div>
                    <!-- Tags -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="tags">Tags</label>

                        <div class="col-md-8">
                            <input id="tags" name="tags" type="text"
                                   placeholder="Enter tags to be associated with this post.  Separate tags by spaces..."
                                   class="form-control input-md" data-bind="value:tags">
                        </div>
                        <div class="col-md-2">
                            &nbsp;
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="selectCategories">Category</label>

                        <div class="col-md-8">
                            <select class="form-control" ,
                                    id="selectCategories"
                                    data-bind="options: $parent.categories,
                                    optionsText: 'name',
                                    optionsValue: '_id',
                                    value: category._id,
                                    optionsCaption: 'Select a Category...'">
                            </select>
                        </div>
                        <!--<div class="col-md-2">-->
                        <!--<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.category.$invalid && !postCreationForm.category.$pristine">-->
                        <!--</span>-->
                        <!--<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.category.$valid && !postCreationForm.category.$pristine">-->
                        <!--</span>-->
                        <!--</div>-->
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="selectImage">Image</label>

                        <div class="col-md-8">
                            <select required id="selectImage" name="selectImage" class="form-control"
                                    data-bind="value: imageURL">
                                <option value="">Select an Image...</option>
                                <option value="img/foodImage1.jpg">Food Image 1</option>
                                <option value="img/foodImage2.jpg">Food Image 2</option>
                                <option value="img/golfImage1.jpg">Golf Image 1</option>
                                <option value="img/golfImage2.jpg">Golf Image 2</option>
                                <option value="img/hockeyImage1.jpg">Hockey Image 1</option>
                                <option value="img/hockeyImage2.jpg">Hockey Image 2</option>
                                <option value="img/musicImage1.jpg">Music Image 1</option>
                                <option value="img/musicImage2.jpg">Music Image 2</option>
                                <option value="img/technologyImage1.jpg">Technology Image 1</option>
                                <option value="img/technologyImage2.jpg">Technology Image 2</option>
                            </select>
                        </div>
                        <!--<div class="col-md-2">-->
                        <!--<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.selectImage.$invalid && !postCreationForm.selectImage.$pristine">-->
                        <!--</span>-->
                        <!--<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.selectImage.$valid && !postCreationForm.selectImage.$pristine">-->
                        <!--</span>-->
                        <!--</div>-->
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="teaserContent">Teaser Content</label>

                        <div class="col-md-8">
                            <!--This uses a custom TBIO configuration since the configuration binding is used-->
                            <textarea data-bind="textboxio:teaserContent, configuration:'simple'" rows="10" class="form-control" id="teaserContent"
                                      name="teaserContent"></textarea>
                        </div>
                        <!--<div class="col-md-2">-->
                        <!--<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.teaserContent.$invalid && !postCreationForm.teaserContent.$pristine">-->
                        <!--</span>-->
                        <!--<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.teaserContent.$valid && !postCreationForm.teaserContent.$pristine">-->
                        <!--</span>-->
                        <!--</div>-->
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="fullContent">Full Content</label>

                        <div class="col-md-8">
                            <!--This uses the default TBIO configuration since one is not referenced-->
                            <textarea data-bind="textboxio:fullContent" rows="15" class="form-control" id="fullContent"
                                      name="fullContent"></textarea>
                        </div>
                        <!--<div class="col-md-2">-->
                        <!--<span class="glyphicon glyphicon-remove" ng-show="postCreationForm.fullContent.$invalid && !postCreationForm.fullContent.$pristine">-->
                        <!--</span>-->
                        <!--<span class="glyphicon glyphicon-ok" ng-show="postCreationForm.fullContent.$valid && !postCreationForm.fullContent.$pristine">-->
                        <!--</span>-->
                        <!--</div>-->
                    </div>
                    <!-- Submit Button -->
                    <div class="form-group">
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-8">
                            <div style="float: right;">
                                <a data-toggle="modal" href="#cancelModal"
                                   class="createPostButton btn btn-primary navbar-btn">
                                    <span data-bind="text: $parent.cancelButtonText"></span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button data-bind="click: $parent.submitPost" type="submit"
                                        class="btn btn-primary navbar-btn">
                                    <span data-bind="text: $parent.saveButtonText"></span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                    </div>
                    <!--</div>-->
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- /.container -->
