<div data-view="plugins/messageBox" data-bind="css: getClass(), style: getStyle()">
    <div class="modal-header">
        <h4 class="modal-title"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<span data-bind="html: title"></span></h4>
    </div>
    <div class="modal-body">
        <p class="message" data-bind="html: message"></p>
    </div>
    <div class="modal-footer">
        <!-- ko foreach: options -->
        <button data-bind="click: function () { $parent.selectOption($parent.getButtonValue($data)); }, text: $parent.getButtonText($data), css: $parent.getButtonClass($index)"></button>
        <!-- /ko -->
        <div style="clear:both;"></div>
    </div>
</div>
