<section>
    <h2 data-bind="text: displayName"></h2>
    <div class="row" data-bind="foreach: images">
        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail" data-bind="click:$parent.select">
                <img style="width: 260px; height: 180px;" data-bind="attr: { src: media.m }"/>
            </a>
        </div>
    </div>
</section>
