<div class="container">
    <!-- Introduction Row -->
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="page-header">
                <span data-bind="text: pageHeading"></span>
                <small data-bind="text: secondaryText"></small>
            </h1>
            <!-- No Posts Message -->
            <div data-bind="visible: !posts()">
                <h1>
                    <small>No posts found!</small>
                </h1>
            </div>
            <!-- Blog Posts -->
            <div data-bind="foreach: posts">
                <!-- Title -->
                <h2>
                    <a data-bind="text: title, attr: { href: '#/post/' + $data._id }"></a>
                </h2>
                <!-- Author and Date/Time -->
                <p>
                    <span class="glyphicon glyphicon-time"></span>&nbsp;Last Edited by <em
                        data-bind="text: author"></em> on <em data-bind="date: lastUpdated"></em>
                </p>
                <!-- Preview Image -->
                <hr/>
                <img class="img-responsive" alt="" data-bind="attr: {src: imageURL}">
                <hr/>
                <!-- Post Teaser Content -->
                <div data-bind="html: teaserContent"></div>
                <a id="viewPostButton" name="viewPostButton" class="btn btn-sm btn-primary" style="float: right;"
                   data-bind="attr: { href: '#/post/' + $data._id }">
                    Read More&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-chevron-right"></span></a>

                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>
