<div class="container">
    <div class="row" data-bind="with: singlePostData">
        <!-- Blog Post Content Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <!-- Title -->
            <h1 data-bind="text: title"></h1>
            <!-- Author and Date/Time -->
            <p>
                <span class="glyphicon glyphicon-time"></span>&nbsp;Last Edited by <em data-bind="text: author"></em> on
                <em data-bind="date: lastUpdated"></em>
            </p>
            <hr>
            <!-- Preview Image -->
            <img class="img-responsive" alt="" data-bind="attr: {src: imageURL}">
            <hr>
            <!-- Post Full Content -->
            <div data-bind="html: fullContent"></div>
            <div style="float: right;">
                <a id="editPostButton" name="editPostButton" class="btn btn-primary" data-bind="attr: { href: $parent.editPostUrl }">
                    Edit This Post&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>

                <a id="deletePostButton" name="deletePostButton" class="btn btn-primary" data-bind="click: $parent.confirmDelete">
                    Delete This Post&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>

                <div class="input-group">
                    <input type="text" class="form-control">
				<span class="input-group-btn">
							<button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
				</span>
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Category</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <em data-bind="text: category.name"></em>
                    </div>
                </div>
            <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Tags</h4>
                <ul class="list-group" data-bind="foreach: $parent.tagsAsArray()">
                    <li class="list-group-item" data-bind="text: $data"></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<script type="text/javascript">
    $("html, body").animate({
        scrollTop:0
    },"slow");
</script>
