<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <i class="fa fa-home"></i>
                <span>Textbox.io Example Blog</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, text: title"></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="loader" data-bind="css: { active: router.isNavigating }">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </li>
            </ul>

            <ul style="float:right;" class="nav navbar-nav">
                <li>
                    <div>
                        <a href="#/createPost" class="createPostButton btn btn-primary btn-sm navbar-btn">
                            Create New Post&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </div>
                </li>
            </ul>
            <!--<form class="navbar-form navbar-right" role="search" data-bind="submit:search">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
            <!--</form>-->
        </div>
    </nav>
    <!-- data-bind="router: { transition:'entrance' }"-->
    <div class="page-host" data-bind="router"></div>
</div>
