<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">O storitvi</div>
  <p>Textbox.io je orodje WYSIWYG za ustvarjanje vsebine čudovitega videza v spletnih aplikacijah. Naj bodo to družabne skupnosti, blogi, e-pošta ali vse, kar je vmes, Textbox.io omogoča ljudem, da se izražajo na spletu.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Avtorske pravice 2015 Ephox Corporation. Vse pravice pridržane.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Licence tretjih oseb</a></p>
</div>
