<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Navodila za dostopnost</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Krmarjenje s tipkovnico</caption>
      <thead>
        <tr>
          <th scope="col">Dejanje</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Vključi orodno vrstico</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Izberi gumb za naslednjo/prejšnjo skupino</td>
        <td>← ali →</td>
        <td>← ali →</td>
      </tr>
      <tr>
        <td>Premakni se na naslednjo skupino</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Premakni se na prejšnjo skupino</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Izvrši ukaz</td>
        <td>PRESLEDEK ali ENTER</td>
        <td>PRESLEDEK ali ENTER</td>
      </tr>
      <tr>
        <td>Izberi naslednji/prejšnji element menija</td>
        <td>↓ ali ↑</td>
        <td>↓ ali ↑</td>
      </tr>
      <tr>
        <td>Zapri meni</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
