<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Oblikovanje Markdown</div>
  <p>Markdown je sintaksa za ustvarjanje struktur HTML in oblikovanje brez uporabe bližnjic na tipkovnici ali menijev dostopa. Če želite uporabiti oblikovanje Markdown, vnesite želeno sintakso in pritisnite Enter ali tipko za presledek.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Sintaksa oblikovanja s tipkovnico</caption>
      <thead>
        <tr>
          <th scope="col">Sintaksa</th>
          <th scope="col">Rezultat HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Največji naslov</pre></td>
        <td><pre>&lt;h1&gt; Največji naslov&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Večji naslov</pre></td>
        <td><pre>&lt;h2&gt;Večji naslov&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Veliki naslov</pre></td>
        <td><pre>&lt;h3&gt;Veliki naslov&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Naslov</pre></td>
        <td><pre>&lt;h4&gt;Naslov&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Majhen naslov</pre></td>
        <td><pre>&lt;h5&gt;Majhen naslov&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Najmanjši naslov</pre></td>
        <td><pre>&lt;h6&gt;Najmanjši naslov&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>Neurejen seznam</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Neurejen seznam&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Urejen seznam</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Urejen seznam&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Poševno*</pre></td>
        <td><pre>&lt;em&gt;Poševno&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Krepko**</pre></td>
        <td><pre>&lt;strong&gt;Krepko&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
