<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Bližnjice na tipkovnici</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
    <caption>Ukazi urednika</caption>
    <thead>
      <tr>
        <th scope="col">Dejanje</th>
        <th scope="col">Windows</th>
        <th scope="col">Mac OS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Razveljavi</td>
        <td>CTRL + Z</td>
        <td>⌘Z</td>
      </tr>
      <tr>
        <td>Ponovno uveljavi</td>
        <td>CTRL + Y</td>
        <td>⌘⇧Z</td>
      </tr>
      <tr>
        <td>Krepko</td>
        <td>CTRL + B</td>
        <td>⌘B</td>
      </tr>
      <tr>
        <td>Poševno</td>
        <td>CTRL + I</td>
        <td>⌘I</td>
      </tr>
      <tr>
        <td>Podčrtano</td>
        <td>CTRL + U</td>
        <td>⌘U</td>
      </tr>
      <tr>
        <td>Zamik</td>
        <td>CTRL + ]</td>
        <td>⌘]</td>
      </tr>
      <tr>
        <td>Zmanjšaj zamik</td>
        <td>CTRL + [</td>
        <td>⌘[</td>
      </tr>
      <tr>
        <td>Dodaj povezavo</td>
        <td>CTRL + K</td>
        <td>⌘K</td>
      </tr>
      <tr>
        <td>Celozaslonski način (Preklapljanje)</td>
        <td>CTRL + SHIFT + F</td>
        <td>⌘⇧F</td>
      </tr>
      <tr>
        <td>Meni za pomoč (Odpri)</td>
        <td>CTRL + SHIFT + H</td>
        <td>⌃⌥H</td>
      </tr>
      <tr>
        <td>Meni za kontekst (Odpri)</td>
        <td>SHIFT + F10</td>
        <td>⇧F10</td>
      </tr>
      <tr>
        <td>Oznaka samodokončanja</td>
        <td>CTRL + presledek</td>
        <td>⌃presledek</td>
      </tr>
    </tbody>
  </table>
  <div class="ephox-polish-help-note">*Opomba: Nekatere funkcije lahko onemogoči vaš skrbnik.</div>
</div>
