<div class="ephox-polish-help-article ephox-polish-help-about">
  <div class="ephox-polish-help-h1">O programe</div>
  <p>Textbox.io je nástroj na tvorbu dobre vyzerajúceho obsahu s podporou úpravy typu WYSIWYG v online aplikáciách. Či už je to v rôznych sociálnych komunitách, na blogoch, v e-mailoch alebo kdekoľvek medzitým, Textbox.io umožňuje ľuďom vyjadriť svoje pocity na internete.</p>

  <p>Textbox.io @@FULL_VERSION@@<br /> Copyright 2015 Ephox Corporation. Všetky práva vyhradené.</p>
  <p><a id="ephox-license-link" href="javascript:void(0)">Licencie tretích strán</a></p>
</div>
