<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Pokyny na ovládanie</div>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-shortcuts">
      <caption>Navigácia pomocou klávesnice</caption>
      <thead>
        <tr>
          <th scope="col">Úkon</th>
          <th scope="col">Windows</th>
          <th scope="col">Mac OS</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Aktivovať panel s nástrojmi</td>
        <td>F10</td>
        <td>ALT + F10</td>
      </tr>
      <tr>
        <td>Zvoliť tlačidlo ďalšej/predchádzajúcej skupiny</td>
        <td>← alebo →</td>
        <td>← alebo →</td>
      </tr>
      <tr>
        <td>Prechod na ďalšiu skupinu</td>
        <td>TAB</td>
        <td>TAB</td>
      </tr>
      <tr>
        <td>Prechod na predchádzajúcu skupinu</td>
        <td>SHIFT + TAB</td>
        <td>SHIFT + TAB</td>
      </tr>
      <tr>
        <td>Vykonať príkaz</td>
        <td>Medzerník alebo ENTER</td>
        <td>Medzerník alebo ENTER</td>
      </tr>
      <tr>
        <td>Zvoliť ďalšiu/predchádzajúcu položku z menu</td>
        <td>↓ alebo ↑</td>
        <td>↓ alebo ↑</td>
      </tr>
      <tr>
        <td>Zatvoriť menu</td>
        <td>ESC</td>
        <td>ESC</td>
      </tr>
    </tbody>
  </table>
</div>
