<div class="ephox-polish-help-article">
  <div class="ephox-polish-help-h1">Formátovanie Markdown</div>
  <p>Markdown je syntax na tvorbu HTML štruktúr a formátovania bez potreby používať klávesové skratky či vstupovať do menu. Na použitie formátovania Markdown zadajte požadovanú syntax a stlačte tlačidlo Enter alebo medzerník.</p>
  <table cellpadding="0" cellspacing="0" class="ephox-polish-help-table ephox-polish-help-table-markdown">
      <caption>Syntax formátovania pomocou klávesnice</caption>
      <thead>
        <tr>
          <th scope="col">Syntax</th>
          <th scope="col">Výsledok v HTML</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><pre># Najväčší nadpis</pre></td>
        <td><pre>&lt;h1&gt; Najväčší nadpis&lt;/h1&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>## Väčší nadpis</pre></td>
        <td><pre>&lt;h2&gt;Väčší nadpis&lt;/h2&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>### Veľký nadpis</pre></td>
        <td><pre>&lt;h3&gt;Veľký nadpis&lt;/h3&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>####  Nadpis</pre></td>
        <td><pre>&lt;h4&gt;Nadpis&lt;/h4&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>##### Malý nadpis</pre></td>
        <td><pre>&lt;h5&gt;Malý nadpis&lt;/h5&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>###### Najmenší nadpis</pre></td>
        <td><pre>&lt;h6&gt;Najmenší nadpis&lt;/h6&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>* Nezoradený zoznam</pre></td>
        <td><pre>&lt;ul&gt;&lt;li&gt;Nezoradený zoznam&lt;/li&gt;&lt;/ul&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>1. Zoradený zoznam</pre></td>
        <td><pre>&lt;ol&gt;&lt;li&gt;Zoradený zoznam&lt;/li&gt;&lt;/ol&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>*Kurzíva*</pre></td>
        <td><pre>&lt;em&gt;Kurzíva&lt;/em&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>**Tučné**</pre></td>
        <td><pre>&lt;strong&gt;Tučné&lt;/strong&gt;</pre></td>
      </tr>
      <tr>
        <td><pre>---</pre></td>
        <td><pre>&lt;hr/&gt;</pre></td>
      </tr>
    </tbody>
  </table>
</div>
